[2021-02-06 17:46] sagar-barapatre opened #1 "SignIn page then contents"
May be we can first authenticate the user by either signup/ signin then and then only we'll show the contents of our website.
![Screenshot 2021-02-06 at 11 13 18 PM](https://user-images.githubusercontent.com/64516304/107125598-f05c5000-68d0-11eb-8a01-1f461705b316.png)

Here we are asking to sign in through google and the anonymous user can see the complete website without sign-in .
So what I think

[2021-02-06 17:53] sagar-barapatre opened #2 "Teachers page"
Maybe what i am thinking is if we can build a page in the website (button will be besides the google sign in button) where we can call the teachers who are willing to teach.
for example User is already signed-in, then If the user wants to teach instead of studying then we'll open a portal for them as in where they can register themselves for teaching for that particular pincode where he wants to t

[2021-02-06 17:55] sagar-barapatre opened #3 "404 Page"
When The server is down, we can create a 404 page displaying in the UI that it's internal problem and show that with a proper user interface.

[2021-02-06 17:56] sagar-barapatre opened #4 "Dark Mode"
It's not required now but in future we can implement the feature of dark mode on our website. So that user to toggle the button to switch to different themes.

[2021-02-06 17:58] sagar-barapatre opened #5 "Add website screenshots in the README.md file"
We can add screenshot so that user can get to know the website actually looks like

[2021-02-12 14:23] mohdarif8299 commented on #5
I would like to work on this Issue @sagar-barapatre.

[2021-02-18 16:34] Namanl2001 opened #7 "Missing rate limiting"
HTTP request handlers should not perform expensive operations such as accessing the file system, executing an operating system command or interacting with a database without limiting the rate at which requests are accepted. Otherwise, the application becomes vulnerable to denial-of-service attacks where an attacker can cause the application to crash or become unresponsive by issuing a large number

[2021-02-18 17:28] Namanl2001 commented on #1
Thanks! @sagar-barapatre for opening this issue, I found it quite interesting, but don't you think that this extra step of signing in every time, would only increase the complexity for the student, who just wants to search for the teacher?

[2021-02-18 17:33] sagar-barapatre commented on #1
I think that the whole data regarding a particular teacher would be leaked including phone number. So in that case a random user can see all the teachers and get the phone numbers directly displayed on the website and can contact that particular teacher, then what's the use of this website, I think that should be done so as to provide proper services to person who really needs it.

[2021-02-18 17:36] Namanl2001 opened #8 "Double column form"
### Problem
At present we have a single-column form for creating and editing users' profiles but it is quite small to contain all the input fields uniformly.

### Proposal
It would be nice to have a double-column form to take the user inputs.

[2021-02-18 17:47] Namanl2001 commented on #1
@sagar-barapatre  would you like to work on this?

[2021-02-18 18:04] Namanl2001 commented on #4
Thanks! again @sagar-barapatre for opening this issue.
In general, I see a dark theme as a nice-to-have, but we have to weigh the costs. My main reservations are:

- It will be more work to implement than it may seem at first. CSS styles are in inline styles in the JSX.
- We also need to make sure that everything still looks ok in both light and dark modes after any new addition or change.
- visua

[2021-02-19 15:25] sagar-barapatre commented on #4
Yeah! I think it's a big task, so let this issue be open. This issue will maybe require a team of 3-4 people who can review over the feature.

[2021-02-19 15:26] sagar-barapatre commented on #1
Yeaaaah ! definitely

[2021-02-20 02:54] Aniket1103 commented on #3
I would like to work on this issue, can u please assign it to me?

[2021-02-20 19:28] Namanl2001 opened #9 "Randomization in profiles"
### Problem
Currently, the profiles of teachers who registered recently, are shown at the last.
### Proposal
It would be nice to have some randomization in the data fetched from the backend, and then show it on frontend.

[2021-02-20 19:36] Namanl2001 opened #10 "Add filter by name"
After filtering data for a particular pin-code, a filter to search profile by teacher's name could be useful, at the user end.

[2021-02-20 19:42] Namanl2001 opened #11 "Logo design"
There is no logo for this project. If anyone has interest in logo designing could take this up.

[2021-02-20 19:53] Namanl2001 opened #12 "Animation in cards view"
I was thinking of some animation which zooms from 0% to 100%. If you have any other animation idea feel free to discuss.

[2021-02-22 14:21] ChitvanRamani22 commented on #5
can I work on this issue! @sagar-barapatre

[2021-02-22 14:23] ChitvanRamani22 commented on #11
@Namanl2001 Can you please assign me this issue as a part of GSSOC'21.

[2021-02-22 14:24] ChitvanRamani22 commented on #12
@Namanl2001 I would like to work on this issue .Can you please assign this to me as a part of GSSOC'21.

[2021-02-23 10:47] khareyash05 commented on #7
Hello sir! I would like to work on it as a part of GSSOC'21 team..If there is no one assigned to the same.May I?

[2021-02-23 10:58] khareyash05 commented on #9
Hello Sir! I would like to work on this issue as a part of GSSOC'21 if no one is assigned till now

[2021-02-23 10:59] khareyash05 commented on #3
Hello Sir! I would like to work on this issue as a part of GSSOC'21.

[2021-02-23 13:26] gnrosa commented on #11
**Logo suggestion**

Square logo for Favicon, App logo
![rect859](https://user-images.githubusercontent.com/40033972/108849419-e1f48080-75c0-11eb-9524-0ee5e218a946.png)

Rectangle logo for use when the square logo does not apply
![path1380](https://user-images.githubusercontent.com/40033972/108849476-f0429c80-75c0-11eb-92b4-7f23462ec9c4.png)

Color Scheme
![rect875](https://user-images.githubuserc

[2021-02-23 16:02] thaditi commented on #4
Hey @Namanl2001 and @sagar-barapatre. I would like to work on this issue as part of GSSOC'21.

[2021-02-23 16:48] khareyash05 commented on #4
Hey @Namanl2001  and @sagar-barapatre .I would like to work on this issue.If no one else is assigned.I will work on this issue as a part of GSSOC'21

[2021-02-24 10:35] sagar-barapatre commented on #4
Actually this issue might require 2-3 people for testing this feature. So shall we together work on this issue ?
What say @Namanl2001 @thaditi @khareyash05 ??

[2021-02-24 16:53] khareyash05 commented on #4
@sagar-barapatre I would love to

[2021-02-26 15:43] thaditi commented on #4
@sagar-barapatre Sure.

[2021-02-27 12:38] Namanl2001 commented on #4
Great! now as we have a team of three I think you all can start discussing your ideas and approach with each other. Here on the issue or in the discussions https://github.com/Namanl2001/MERN-Gurujii-dev/discussions.

Hopefully we would have a separate discord channel for our project and a project mentor with us soon, provided by the GSSoC'21 team.
Thank you @thaditi @khareyash05 @sagar-barapatre f

[2021-02-27 12:41] Namanl2001 commented on #12
Thanks! @ChitvanRamani22 for your interest. Feel free to take up this issue.

[2021-02-27 12:45] Namanl2001 commented on #5
Sorry @mohdarif8299 for some delay.
If you are still interested to work on this issue, feel free to take this up; otherwise please inform us so that we can assign it to someone else.

[2021-02-27 12:46] Namanl2001 commented on #9
assigning to you @khareyash05 !
Thanks

[2021-02-27 14:21] sagar-barapatre commented on #4
P.S. - I m already a mentor

[2021-02-28 08:46] dsnehasish74 commented on #7
I want to work on this as a part of Gssoc21. Please assign this to me

[2021-02-28 08:49] dsnehasish74 commented on #8
Want to work on this. Please assign this  to me'

[2021-03-01 10:25] ChitvanRamani22 commented on #12
Okay @Namanl2001 thankyou for assigning me this issue. I have signed up the NDA form now I will start working on it.

[2021-03-02 11:32] Namanl2001 commented on #1
Another approach could be to show contact details only after signin and basic details directly, without signin. WDYT?

[2021-03-02 14:14] sagar-barapatre commented on #1
Yeah that can also be done!

[2021-03-03 07:34] maanpatel2492 commented on #12
I can work on this issue.Assign me if possible.
(under GSSOC'21)

[2021-03-03 07:45] ChitvanRamani22 commented on #12
@Namanl2001 I am facing this problem while running the server
Can you please help me out.
![a70a16c1-70cc-408b-a7af-8ab91969cab3](https://user-images.githubusercontent.com/68965499/109770817-0c2dea00-7c22-11eb-86a0-16ef1bc9a9d3.jpg)

[2021-03-03 08:08] Namanl2001 commented on #12
This is because you don't have the username and password credentials of the main database, as due to security reasons i have made them private.
For using it you could use MongoDb locally and update the uri accordingly.

[2021-03-05 03:04] Muditxofficial commented on #5
@Namanl2001 @sagar-barapatre I would like to work on it, so kindly assign it to me but i also found concurrently package to be missing due to which my dev server fails to start. I don't know why your hosted app works or i don't know something.

[2021-03-06 18:44] Muditxofficial commented on #5
@Namanl2001 assign this to me and i also have some questions regarding the project setup to ask about.

[2021-03-07 04:50] 26Vinayak commented on #11
Can you assign me to this issue as part of GSSOC 2021.

[2021-03-07 06:35] khareyash05 commented on #4
I have added a **dark mode toggle.** on the bottom right corner.Its a perfect working one and we can also **isolate those elements whose styling is not to be changed**....Also it **remembers the mode(dark/light)** when the last time u opened it.
Suggest me with some changes
![2021-03-07](https://user-images.githubusercontent.com/60147732/110231306-0d6e5800-7f3d-11eb-896d-a33ffeae773f.png)

[2021-03-07 07:50] Namanl2001 commented on #4
@khareyash05 open a PR then it would be easy to review it.

[2021-03-07 11:45] ChitvanRamani22 commented on #12
@Namanl2001 I had setup the project and it is running on my pc after which I tried to make some changes but none of them is working.
Ex. In the ss shown here i changed the width of card from 20em to 2em to see is it working or not, but the cards appeared in same fashion as earlier.
Can you please help me.

![Screenshot (448)](https://user-images.githubusercontent.com/68965499/110238521-1aed0780-7f

[2021-03-07 12:09] Namanl2001 commented on #12
are you reloading the webpage after each change?

[2021-03-07 12:21] ChitvanRamani22 commented on #12
Yes tried it many times
Also i tried restarting the server after doing changes but couldn't observe any of the changes.

[2021-03-07 13:59] vkassingh commented on #3
@Namanl2001 i would like to contribute to the project guruji. do we have a group for the discussion?

[2021-03-07 21:15] Namanl2001 commented on #3
Thanks @vkassingh for your kind interest. We will soon have the discussion group, stay tuned ✌.

[2021-03-08 02:32] khareyash05 commented on #4
I have opened a PR kindly review the same

[2021-03-08 15:49] sayna3311 commented on #3
I would love to work on this issue, under GSSoC'21 :)

[2021-03-08 16:16] Ankita297 commented on #12
Can i work on this issue ?

[2021-03-08 16:27] ChitvanRamani22 commented on #12
@Namanl2001 I have find out the way of how to apply a good animation and also tried it on rough basis but can you please help me regarding my query that I earlier posted, as any of the changes are not being displayed.

[2021-03-08 17:06] Namanl2001 commented on #3
feel free to take this up @sayna3311 . Thanks!

[2021-03-08 17:19] sagar-barapatre commented on #4
Can you place the toggle button just besides the Google signin button, coz generally dark mode buttons are place at top right corners in almost every website.
This is just a suggestion.

[2021-03-08 17:45] Namanl2001 opened #15 "Remove warnings"
In Javascript '===' is used to compare values as well as data type. In our project when we start the server there are various warnings that needed to be removed.
[code]

[2021-03-08 17:58] Namanl2001 commented on #12
@Ankita297 as Chitvan is already working on this issue let's wait for him, to prevent duplicate efforts. Till then you can pick some other issue in this project. Thanks for your interest.

@ChitvanRamani22 I just saw [here](https://github.com/Namanl2001/MERN-Gurujii-dev/issues/12#issuecomment-789511866) that you are running `yarn server` which will only start the backend server. But in [Readme.md]

[2021-03-08 18:50] mitalirs commented on #15
Hello sir, I want to try working on this issue to work towards my first PR for the GSSOC'21 program. Could I please fork the repository, make the changes and send a pull request?

[2021-03-08 18:52] Artistic18 commented on #15
If this issue is not taken, can I work on this?

[2021-03-08 19:01] Namanl2001 commented on #15
sure @mitalirs looking forward for your PR.
@Artistic18 as the issues are assigned on a first come first serve basis, let's wait for mitali, to prevent duplicate efforts. Till then you could pick some other issue. BTW you are just 2 minutes late😅

[2021-03-08 19:05] Artistic18 commented on #15
@Namanl2001 Yes Thanks I'm aware of that, let's hope @mitalirs get's assigned and as per timing my luck is not so good XD.

[2021-03-08 19:59] sagar-barapatre opened #16 "Add contributing.md"
We we'll need to create a contributing.md file in project directory where we can give all the details about how to create an issue with a particular template as well as while creating a PR.

[2021-03-08 20:00] subhangi2731 commented on #7
can you please assign this issue to me?

[2021-03-08 20:02] subhangi2731 commented on #8
Please assign this to me?

[2021-03-08 20:02] sagar-barapatre opened #17 "Improve README.md"
We can improve the UI of the README.md so that setting up the project can be much more easy and will get more details about the project with a better UI

[2021-03-08 20:05] subhangi2731 commented on #10
can you please assign this issue to me?

[2021-03-08 20:09] Namanl2001 commented on #10
@subhangi2731 would you be able to work on all three issues together? My advice would be to start small by picking one/two issues according to your interests. Thanks!

[2021-03-08 21:02] Namanl2001 commented on #10
@subhangi2731 you can take up this issue. Let us know if you have any queries.

[2021-03-09 05:06] vtejaeta commented on #9
I would love to work on this issue @Namanl2001 as a part of GSSOC'21 program

[2021-03-09 06:43] mitalirs commented on #15
Thank you @Namanl2001, I have created the PR. I hope it solves the problem, please let me know if you have any suggestion related to the PR

[2021-03-09 06:58] Namanl2001 commented on #9
Thanks! @vtejaeta , you can work on this issue.

[2021-03-09 06:59] vtejaeta commented on #9
Thanks

[2021-03-09 07:30] khareyash05 commented on #16
Hello Sir I would like to work on this issue..

[2021-03-09 07:42] sayna3311 commented on #3
@Namanl2001 please assign this to me.

[2021-03-09 09:35] khareyash05 commented on #16
I have a small doubt , In the file we have to mention how to create an issue and a pull request right?

[2021-03-09 09:48] nikitakapoor1919 commented on #3
Can I also work under this issue? @Namanl2001. Please Assign this task to me also.

[2021-03-09 09:56] nikitakapoor1919 commented on #17
Can I work on this issue @sagar-barapatre .Please assign this task to me.

[2021-03-09 10:38] NithishKumar2000 commented on #11
I have a great idea of a logo for this project, Can you assign me this issue as a part of GssoC 20121

[2021-03-09 10:47] sagar-barapatre commented on #17
Hey @nikitakapoor1919 can you please propose the idea of how exactly the README.md file should look like.
As in have you decided something

[2021-03-09 10:48] sagar-barapatre commented on #3
Hey @sayna3311 start working on this...As you are assigned to this
Rest people over here will review your PR

[2021-03-09 11:08] nikitakapoor1919 commented on #17
I am attaching this screenshot of changes i have made in my local.
Should i add Technology Stack ?
![image](https://user-images.githubusercontent.com/62166533/110460956-de024b80-80f4-11eb-9cdd-84b15e1e8105.png)

And below i have add button so that we can navigate to live website
![image](https://user-images.githubusercontent.com/62166533/110461685-c6779280-80f5-11eb-87a8-4ff63d022dc3.png)

What do

[2021-03-09 11:18] khareyash05 commented on #16
Hello Sir! I have created a Pull Request fro the same ..Have a look

[2021-03-09 11:22] sagar-barapatre commented on #17
Yeah I think tech stack would be important. What say @Namanl2001 ? This readme really looks cool...
Keep working and let me know if you need some help

[2021-03-09 11:39] Namanl2001 opened #21 "Unit tests for frontend"
Unit testing involves testing individual components of the software program or application. The main purpose behind this is to check that all the individual parts are working as intended. A unit is known as the smallest possible component of software that can be tested.
The task would be to add unit tests for the frontend, you can prefer jest to write your unit tests. This issue can be resolved us

[2021-03-09 13:52] AakankshaShah commented on #8
can you assign it to me?

[2021-03-09 14:22] AakankshaShah opened #23 "I would like to improve the UI .Please assign me this under GSSOC'21 participant."

[2021-03-09 14:24] AakankshaShah opened #24 "I would like to add additional sign-up functionalities using custom emails.Please assign me this under GSSOC'21 participant."

[2021-03-09 14:48] AakankshaShah commented on #23
Thank you sir! I would try to work on the assigned one as well as the UI.

[2021-03-09 15:43] Namanl2001 commented on #23
assigned this to you. But make sure to discuss your imagination/idea before actual implementation.

[2021-03-09 16:31] Muditxofficial opened #26 "Project installation difficulties"
First of all documentation is not at all good, give details about the ./config file.
Following is a error i encountered,
![Screenshot from 2021-03-09 21-57-57](https://user-images.githubusercontent.com/63860014/110504163-e5404e00-8122-11eb-8f91-c14ae95c6fb9.png)

[2021-03-09 16:37] AmeyaJain-25 opened #27 "New UI for the Cards"
I would like to give a new UI for the Cards with some background, some animation and an attractive card
Please assign this to me under GSSoC 21'

[2021-03-09 16:42] abhudaym commented on #7
So all we have to do is include the package `express-rate-limit` and use that package one time in `backend/routes/users.js`?

[2021-03-09 16:43] Namanl2001 commented on #26
For security reasons I have made the MongoDb URI secure, by not adding hardcoded username and password. For development purpose you can install, mongodb locally or use the online version.
Will update this in the docs soon. Thanks.

[2021-03-09 16:47] Namanl2001 commented on #7
correct. But what do you mean by using 'one time'?

[2021-03-09 16:49] Namanl2001 commented on #27
Thanks @AmeyaJain-25

[2021-03-09 16:49] abhudaym commented on #7
I mean, we only need to write `app.use(limiter);` one time in `backend/routes/users.js`. Am I correct?

[2021-03-09 17:05] #26 closed

[2021-03-09 19:11] kanak22 opened #29 "Add a Pull request template"
I would like to add a pull request template to this project. Kindly assign it to me as a part of GSSOC'21.

[2021-03-09 19:49] nikhil-Vaibhav commented on #12
Hello @Namanl2001 I want to work on this issue under GSSoC'21. I have even started visualizing this. Please assign this to me.
Thanks  a lot.

[2021-03-09 20:35] sagar-barapatre commented on #27
Before making a PR please give us an idea as in what the card will look like after applying animations and all those things.

[2021-03-09 21:09] #29 closed

[2021-03-09 21:12] kanak22 commented on #29
Can u kindly put the GSSOC'21 label on the issue as well 😅

On Wed, Mar 10, 2021, 2:40 AM Naman Lakhwani ***@***.***>
wrote:

[2021-03-09 21:20] Namanl2001 commented on #29
Sure.

[2021-03-10 05:08] deeptea22 opened #31 "Header Improvement"
Would like to improve the header and make it static, as its not visible when scrolling down. Please assign this to me under GSSOC'21. Thanks :)

[2021-03-10 05:21] dsnehasish74 commented on #9
Can I work on this as a part of Gssoc21

[2021-03-10 05:24] AmeyaJain-25 commented on #27
Yes sure,
I'll make the UI for the card and will give you a preview before making PR

[2021-03-10 07:16] mohitms007 commented on #21
@Namanl2001  I have started to work on this

[2021-03-10 07:57] dsnehasish74 commented on #12
As this issue is not solved yet then I can solve this issue.  So can I solve this as a part of GSSOC 21

[2021-03-10 08:09] sayna3311 commented on #3
I am having some issues while setting up the project, like not able to connect frontend with backend. I have somewhat made the 404page. Where can I get my doubt cleared?

[2021-03-10 08:38] #12 closed

[2021-03-10 08:49] guptaji6489 opened #33 "A button at bottom right side."
We can put the button on the bottom right side of our website to go directly at the top of the website.

[2021-03-10 08:55] Namanl2001 commented on #33
Interesting! Thanks.

[2021-03-10 09:00] Namanl2001 commented on #3
@sayna3311 project channel will be open for all participants soon. Till then you can ask your queries here only to @sagar-barapatre (he is one of the mentors for this project).

[2021-03-10 09:13] jain-rishabh-21 commented on #33
Please assign it to me.
krackerzzz#4371

[2021-03-10 09:34] Navya-amarneni commented on #17
Hey!!! I found this issue to be interesting. Can you assign me this issue? I would like to propose my changes.

[2021-03-10 09:48] ChitvanRamani22 opened #34 "Add Mr. & Mrs. option."
I found one problem, that Mr is appearing before the name of the person, teacher can be female also. So we can make a selection dropdown with two options male/female before the name input field. If its fine could you assign this to me.

[2021-03-10 10:29] sagar-barapatre commented on #17
Hi @Navya-amarneni the PR has already been made, so if you want to contribute on this you can suggest some changes while reviewing the PR #25

[2021-03-10 10:40] Muditxofficial commented on #5
i have a suggestion instead of pics maybe we use gif which is basically full functionality of website under 20-30sec.

[2021-03-10 11:09] guptaji6489 opened #35 "Navbar"
We have to make the navbar more attractive. its looks very old.
Like we have to use bootstrap and CSS and javascript more on that.

[2021-03-10 11:11] Namanl2001 commented on #5
yeah it would be more clear. Go with it.

[2021-03-10 11:15] Namanl2001 commented on #34
Yeah it is under my agenda. We will need a mr, mrs. option in form, store it in backend and then show accordingly on the profile cards.
Could you do all these tasks?

[2021-03-10 11:17] khareyash05 commented on #35
Hey can I work on this issue?

[2021-03-10 11:21] pi-squared-4 commented on #35
I am a GSSOC'21 participant, can you assign this to me? I would love to work on this.

[2021-03-10 12:10] ChitvanRamani22 commented on #34
Yes @Namanl2001 I will try my best . Please assign this to me.

[2021-03-10 12:22] AakankshaShah commented on #24
Currently we are only using  Google Authentication,I would like to add signup using custom emails .

[2021-03-10 13:09] vtejaeta commented on #9
I have solved your issue and created a PR as well, when you have
free time,can you please review it?

Thank you

On Tue, Mar 9, 2021 at 12:28 PM Naman Lakhwani <notifications@github.com>
wrote:

[2021-03-10 13:37] Namanl2001 commented on #35
assigning this to @pi-squared-4 as @khareyash05 you are already assigned to few othee issues. Thanks

[2021-03-10 14:01] abhishek7997 commented on #15
If this issue if free in the future. Please assign this to me.

[2021-03-10 14:08] sagar-barapatre commented on #3
Yeah @sayna3311 you can ask. What issues are you facing ?

[2021-03-10 14:35] ssaksham opened #38 "Add Pointer Cursor Property."
Hey, I am Saksham Sharma, a GSSOC'21 participant. I am passionate about Data Structures and a full stack developer.

My issues are:
1. When the cursor hovers over the Dropdown button on the navbar, the cursor should be visible as a pointer.
2. To remove the disabled button from the navbar.

Please assign these tasks to me.
@Namanl2001 @ChitvanRamani22

[2021-03-10 15:00] ssaksham opened #39 "Removing arrows and adding lower limit for Filter PIN code input"
Hey, I am Saksham Sharma, a GSSOC'21 participant. I am passionate about Data Structures and a full stack developer.
I think it would make more sense to remove arrows from the Filter Pin code input as it would be difficult for anyone to look for a 6 digit PIN code just by using the arrows.
Also, the lower limit of the input is not added, I want to fix that too.

Please assign this task to me.

@Nam

[2021-03-10 15:18] pi-squared-4 commented on #35
Alright, I'll share soon.

[2021-03-10 15:23] guptaji6489 opened #40 "Footer"
We have to change or Rebuild Footer its looks very simple.
We have to make it attractive and add some links and tags and much more.
Please have a look on it.

[2021-03-10 15:24] guptaji6489 commented on #33
Your Welcome!

[2021-03-10 15:35] sayna3311 commented on #3
I tried to run this using npm start as yarn dev wasn't working for me.
![image](https://user-images.githubusercontent.com/67572440/110654537-39f7cd80-81e4-11eb-829c-1a46be154711.png)
![image](https://user-images.githubusercontent.com/67572440/110654592-47ad5300-81e4-11eb-85ab-50fa15dcdc64.png)
I am not able to set up the project locally.
@sagar-barapatre

[2021-03-10 15:57] nikitakapoor1919 commented on #3
@sayna3311 I can help as i have faced similar issues.
For security reasons sir had made the MongoDb URI secure, by not adding a hardcoded username and password. For development purpose, you can install, MongoDB locally or use the  online version.
So this means there is no config file in our backend.
Kindly comment these lines in server.js. and user.js  and create your own url from https://cloud.mo

[2021-03-10 16:11] Namanl2001 commented on #40
What kind of details could be added at the footer? We don't have any office 😅 also no social media handle.

[2021-03-10 16:13] nikitakapoor1919 opened #41 "Dialog Box UI"
@Namanl2001 can i work on changing UI of dialog boxes ? Please assign me this task.

![image](https://user-images.githubusercontent.com/62166533/110660265-63672800-81e9-11eb-8fac-32bd747b7b9e.png)
![image](https://user-images.githubusercontent.com/62166533/110660289-68c47280-81e9-11eb-9039-c90b279dcaef.png)

[2021-03-10 16:15] Namanl2001 commented on #39
FYI It's not mandatory to use arrows for pin code input. User can direct enter the code using keyboard.
Currently lower limit is 100000, so what limit change would you make?

[2021-03-10 16:22] Namanl2001 commented on #3
@nikitakapoor1919 can you please also update this info in your current readme.md pr, regarding which lines to comment? You could add this as the 3rd point of the note.
Just add the line Numbers, along with file name.

[2021-03-10 16:25] ssaksham commented on #39
![image](https://user-images.githubusercontent.com/41958505/110661220-58f95e00-81ea-11eb-9be6-a9761a0e6b87.png)

I want to say it would be difficult for anyone to use arrows to reach a 6 digit PIN code, so it would more convenient to remove the arrows from the input.
Also, please let me know how it is taking values lesser than 100000 or even negative values.
Even if it is accepting invalid values,

[2021-03-10 16:26] ssaksham commented on #38
Thanks for assigning this to me.

[2021-03-10 16:27] Namanl2001 commented on #40
We also don't have the logo.

[2021-03-10 16:32] nikitakapoor1919 commented on #3
@Namanl2001 Okay I will do that.

[2021-03-10 16:32] Namanl2001 commented on #41
Yes, you can change the delete profile dialog box. But soon we would be having a double coloumn input form. So once it's ready you could do the change in that too.
You could open a seperate PR for both.

[2021-03-10 16:42] ssaksham commented on #39
Thanks

[2021-03-10 16:44] ssaksham commented on #39
Can I make two separate PR for both issues?

[2021-03-10 16:46] Namanl2001 commented on #39
As this issue is related only to a single component, I'd ask you to keep your changes in a single PR

[2021-03-10 16:48] Namanl2001 commented on #40
@guptaji6489 do you have any suggestion regarding footer? What could be added?

[2021-03-10 16:59] guptaji6489 commented on #40
![Screenshot (523)](https://user-images.githubusercontent.com/46419188/110666720-96acb580-81ef-11eb-99ba-89b374cb35c4.png)

Ya, we can make it like this.
On the left side, we can put there something about gurujii.
In right-side link, we can put like link1 will replace by Chemistry, the link2 will replace by Physics.... like this
and we can remove the middle one.
And the bootstrap we have to use.

[2021-03-10 17:06] ssaksham commented on #39
okay

[2021-03-10 17:23] Namanl2001 commented on #40
And where will the subject links redirect us?

[2021-03-10 17:29] guptaji6489 commented on #40
Ok, leave it. we can make it like this which is in grey color only

[2021-03-10 18:13] Namanl2001 commented on #7
Yep! and also define `limiter` before using it, as shown in the example.

[2021-03-10 18:15] abhudaym commented on #7
Can I work on this issue?

[2021-03-10 18:16] Namanl2001 commented on #7
Sure! assigning to you

[2021-03-10 18:19] Namanl2001 commented on #11
@NithishKumar2000 @26Vinayak add some samples to support your idea/interest.

[2021-03-11 03:27] dsnehasish74 commented on #40
@Namanl2001 Can I work on this as a part of GSSOC21

[2021-03-11 03:39] dsnehasish74 opened #45 "Home Page UI"
**Describe the feature you'd like to add**
We can change the UI of the Home Page Banner and Make it more attractive like modern sites.

**Describe how you will do it**
I am talking about a design nearly like this. We can change the SVG and make this even more attractive.
![Screenshot (543)](https://user-images.githubusercontent.com/58779604/110731987-4c582280-8249-11eb-84a2-e671a6278e4d.png)

**Ad

[2021-03-11 03:40] dsnehasish74 commented on #45
I would like to contribute as a participant in GSSOC21

[2021-03-11 03:40] guptaji6489 commented on #40
Ya sure.
@Namanl2001 assign this to @dsnehasish74

[2021-03-11 03:42] dsnehasish74 commented on #45
![undraw_teaching_f1cm](https://user-images.githubusercontent.com/58779604/110732306-efa93780-8249-11eb-937f-315aa0c4cac4.png)
Can use this Svg here

[2021-03-11 03:58] sagar-barapatre commented on #41
May be can we implement multi page forms to register a teacher.
Look at this [Click Here](https://codepen.io/sagar-barapatre/pen/NWbebXM). Can we implement something like this ?
What say @Namanl2001 @nikitakapoor1919 ?

[2021-03-11 04:02] sagar-barapatre commented on #24
Can we implement a brand new signIn page where we can sign in via various O.Auth clients such as google, github, facebook, twitter, etc.  and also the custom email verifications ?

[2021-03-11 06:23] Namanl2001 commented on #45
issue already there
you could discuss your idea here  https://github.com/Namanl2001/MERN-Gurujii-dev/issues/23

[2021-03-11 06:31] Samridhi-98 commented on #17
@Namanl2001 I would like to suggest some changes in the README file like the top image is too large and false the spacing between different sections should be a little less that will make the README more precise and appealing.

[2021-03-11 06:37] Namanl2001 commented on #17
Yes @Samridhi-98 i's feeling the same. Also we also need to add a link to contributing.md in it so it would be nice to make a new pr. go ahead

[2021-03-11 06:38] nikitakapoor1919 commented on #41
@sagar-barapatre It looks good to me.

[2021-03-11 06:39] dsnehasish74 commented on #40
![Screenshot (511)](https://user-images.githubusercontent.com/58779604/110746172-681bf280-8262-11eb-89ba-0cc6a1188ca1.png)
I made the footer like the above example. Should I add more things Please anyone guide or any suggestion?

[2021-03-11 06:43] Namanl2001 commented on #41
@sagar-barapatre pitch your idea here https://github.com/Namanl2001/MERN-Gurujii-dev/issues/8

[2021-03-11 06:44] Samridhi-98 commented on #17
@Namanl2001 Sure, I will make the required changes and make new PR also.

[2021-03-11 07:12] nikitakapoor1919 commented on #41
Is there any color theme decided for website? I was thinking we should change color of dialog boxes also.

[2021-03-11 08:28] abhudaym commented on #7
Is there any way to test if the limiter is working?

I've added this piece of code to `backend/routes/users.js`
[code]

[2021-03-11 09:13] tanwi1234 commented on #27
I would like to give a new UI for the Cards with some background, some animation and an attractive card
Please assign this to me under GSSoC 21'

Something like this where we store data and display it on mentors page so that student show the availables teachers and easily contacts  them.

![Screenshot (1067)](https://user-images.githubusercontent.com/65597267/110763651-226a2480-8278-11eb-9f6c-66f9

[2021-03-11 09:22] tanwi1234 commented on #45
I would like to give a new UI for the homepage.
Please assign this to me under GSSoC 21'
something like this

![Screenshot (1072)](https://user-images.githubusercontent.com/65597267/110764673-5560e800-8279-11eb-887d-597932dd790e.png)
![Screenshot (1074)](https://user-images.githubusercontent.com/65597267/110764682-58f46f00-8279-11eb-9c97-a92400b98578.png)
![Screenshot (1075)](https://user-images.g

[2021-03-11 09:23] mohammedjameel24 commented on #16
assign me

[2021-03-11 09:49] #16 closed

[2021-03-11 09:53] mohitms007 commented on #21
It will take round about 2 days more.

[2021-03-11 10:25] AmeyaJain-25 commented on #27
@Namanl2001 Please assign this issue to @tanwi1234 as I'm having issues with setting up the project

[2021-03-11 10:54] Namanl2001 commented on #27
@AmeyaJain-25 feel free to clear your doubts here itself.

[2021-03-11 11:48] #5 closed

[2021-03-11 11:53] #38 closed

[2021-03-11 12:06] #9 closed

[2021-03-11 12:09] deeptea22 commented on #31
@Namanl2001 I am facing issues setting up the project locally. Could you please guide me on how to do it?.

[2021-03-11 12:14] Namanl2001 commented on #31
As we have some recent changes please follow these steps
- pull the recent changes
- follow instructions in readme.md and comribution.md

if you still face any problem feel free to ask.

[2021-03-11 12:31] deeptea22 commented on #31
I am having trouble installing the dependencies. When i give the command:
' $ cd backend yarn install '
It shows an error: ' cd: too many arguments '

[2021-03-11 12:39] ritik307 commented on #24
@sagar-barapatre  @Namanl2001 can I work on this issue.

[2021-03-11 12:46] Rimpi246 opened #51 "Add home tutor and external tutor options"
**Add  home tutor and external tutor options**
Tutions may be  at home also and outside also.So there should be two options: one for home tutor and one for tution at another space.
I would like to work on this as a part of GSSOC'21.Please `/assign` this to me

[2021-03-11 12:48] Namanl2001 commented on #31
break it into two steps
'cd backend'
'yarn install'
and check which command is creating problem.
You can always Google search your problem.

[2021-03-11 12:56] ssaksham opened #53 "Removing default value on expanding Subject and class"
**Describe the bug**
On expanding the subject selection dropdown, I think the item "Open this to select subject" should not appear.

**Expected behavior**
On expanding the dropdown, I expect to see only the subjects i.e Physics, Chemistry, and Maths.

Current behavior:
![image](https://user-images.githubusercontent.com/41958505/110790395-fdd17500-8296-11eb-8c4e-e1f90e01e495.png)

Expected behavior

[2021-03-11 12:57] Rimpi246 commented on #2
And then if he is  a  user(as teacher) then we can render his bio in the home page so that new teachers get more exposure.
 I would like to work on this issue as a part of GSSOC'21.PLease `/assign` this to me.

[2021-03-11 13:20] Rimpi246 opened #57 "Change favicon"
**I want to add a different favicon for the website.**
Please `/assgn` this to me as a part of GSSOC'21

[2021-03-11 14:38] nikitakapoor1919 opened #58 "Auto closeable Alert"
This Alert is not auto closable.
![image](https://user-images.githubusercontent.com/62166533/110803463-3aa46880-82a5-11eb-9974-998d32e5471b.png)

Can I add auto closeable feature here? Please assign be this task.

[2021-03-11 14:48] Namanl2001 commented on #53
Thanks! and also do it for the class drop-down menu.

[2021-03-11 15:18] AmeyaJain-25 commented on #27
I'm not able to run the backend. Hence cannot see the cards

[2021-03-11 15:52] pi-squared-4 commented on #35
Hey guys, do you plan to keep this grey-ish theme to your site? Looks a bit dull to me.

[2021-03-11 15:57] pi-squared-4 commented on #35
If you can finalize a color scheme so that all the styling can be done accordingly?

![image](https://user-images.githubusercontent.com/66795444/110815485-7ee93600-82b0-11eb-9765-a62b806f6faf.png)

I was thinking of something like this, I have not added the google button, but roughly like this.

[2021-03-11 16:02] Namanl2001 commented on #27
pull the latest changes and follow readme.md

[2021-03-11 16:17] guptaji6489 commented on #35
I think someone is working in Logo also.
make sure the logo must be the same and the design is good.

[2021-03-11 16:19] guptaji6489 commented on #40
Someone is making logo you can also put a logo.

[2021-03-11 16:54] pi-squared-4 commented on #35
Okay, let me contact the logo guy.

[2021-03-11 16:59] pi-squared-4 opened #59 "Updating README.md"
The current README doesn't fully specify how to open and run the project after cloning it. Some changes are required in README to fully specify it. Let me work on it.

[2021-03-11 17:00] pi-squared-4 commented on #11
@Namanl2001, can you fix a color scheme for the logo, maybe add it in the readme so that all the front end devs work in accordance ?

[2021-03-11 17:17] tanwi1234 commented on #2
We can make a UI of home page where there will be two cards one for student and other for teachers. student should click on to show the page of mentors where all the details of every mentor would be display each card for particular teacher and teacher would make their profile by clicking on another be a mentor button, a registration form will display and from where all data will be store in databa

[2021-03-11 17:20] guptaji6489 commented on #59
I have done some changes have a look.
or something else you want to do?

[2021-03-11 17:23] guptaji6489 commented on #58
please do it

[2021-03-11 17:23] pi-squared-4 commented on #59
Yes, like mentioning all the steps like changing to ,env and adding mongourl.

[2021-03-11 17:24] guptaji6489 commented on #57
Please do it

[2021-03-11 17:28] guptaji6489 commented on #59
Ok, nice.
Please mention all things **step by step** and do for both local as well as online one .

[2021-03-11 17:29] guptaji6489 commented on #59
Ok, nice.
Please mention all things **step by step** and do for both local as well as online one .

[2021-03-11 18:08] ritik307 opened #60 "Adding multiple OAuths for login/signup"
**Adding OAuth for the following:-**

- Google
- Linkedin
- Github
- Facebook.

[2021-03-11 18:10] ritik307 commented on #60
@Namanl2001 @sagar-barapatre  I am currently working on this issue so please assign me this issue.

[2021-03-11 20:18] #41 closed

[2021-03-12 02:32] sagar-barapatre commented on #60
This issue has already been created.
#24  Hence I am closing this

[2021-03-12 02:32] #60 closed

[2021-03-12 03:29] HarshitPandey251 commented on #34
I want to work on this issue

[2021-03-12 05:34] ritik307 commented on #60
@sagar-barapatre @Namanl2001  I have already commented there to assign this issue to me but I got no response there. Kindly look into that.

[2021-03-12 05:39] ritik307 commented on #4
@sagar-barapatre @Namanl2001 @khareyash05  is anyone working on this issue. If not then can you plz assign this issue to me?

[2021-03-12 06:59] khareyash05 commented on #4
@ritik307 I am working on the issue

[2021-03-12 10:48] Navya-amarneni opened #64 "Delete Backend README.md"
The Backend README looks very unclean and is not organized. I have added the features that made it look polished and professional.
Kindly have a look at my PR and assign this issue to me. I have made the changes, please suggest any changes to my PR.
Previous:
![image](https://user-images.githubusercontent.com/47153245/110929912-80693b80-834e-11eb-9b16-1044c89a9ff9.png)

Modified:

![image](https:/

[2021-03-12 12:43] Navya-amarneni commented on #64
@Namanl2001  Task is done.Please merge my PR

[2021-03-12 13:15] rohank2502 opened #66 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 13:25] pi-squared-4 commented on #59
![image](https://user-images.githubusercontent.com/66795444/110946026-6aff0c00-8364-11eb-9d5b-9a55813003f2.png)
![image](https://user-images.githubusercontent.com/66795444/110946043-6e929300-8364-11eb-8203-a9a25954fb37.png)

How does this look?

[2021-03-12 13:31] Vaibhav-afk commented on #57
### I'm interested in fixing this issue .

[2021-03-12 14:03] Rimpi246 commented on #57
@Vaibhav-afk  I am doing already.You can work on other issues or create your own.

[2021-03-12 16:15] Vaibhav-afk commented on #57
@Rimpi246 okay no problem

[2021-03-12 16:37] Namanl2001 commented on #1
@sagar should this be assigned to someone else?

[2021-03-12 16:38] Namanl2001 commented on #51
Thanks , please go ahead

[2021-03-12 16:48] ritik307 commented on #24
Thanks for assigning the task. I Will start working on it right away.

[2021-03-12 16:51] Namanl2001 commented on #2
Thanks @tanwi1234 for such a great suggestion i really liked it.
After clicking on the students page also we can ask for signin and if the user doesn't signin we would not show them the contact details of the teacher profiles. WDYT?
But this would need a great co ordination of the team as some contributors are already working on various other parts of UI enhancement.

[2021-03-12 17:24] Namanl2001 commented on #64
closing via #65

[2021-03-12 17:24] #64 closed

[2021-03-12 17:59] #17 closed

[2021-03-12 18:03] Shikhar15606 opened #67 "Auto Format the code on commit"
I am already working on this issue

[2021-03-12 19:31] Rimpi246 commented on #51
Okay

[2021-03-12 19:35] tanwi1234 commented on #2
Yes, You are right we can ask for signin but I do not opt this one because I was thinking by keeping in mind for small age kids belonging from small town or rural areas who have no idea about all this how to login or sign and due to this they are not able to easily  get the benefits of our website. So,if we can keep this website simple for that small kids it would be much better for them.So, if th

[2021-03-12 19:36] tanwi1234 commented on #2
I would really want to contribute in this and i will be very happy to work with all team and explore and learn new things.

[2021-03-12 20:12] Namanl2001 commented on #34
closing via #50

[2021-03-12 20:12] #34 closed

[2021-03-12 20:34] #33 closed

[2021-03-12 20:38] Namanl2001 commented on #10
@subhangi2731 are you working on this? Facing any issue? If any feel free to communicate with mentors on the discord project channel.

[2021-03-13 06:40] Samridhi-98 opened #69 "Validation of create profile form"
**Describe the bug**
Create profile form has no validation, also it needs a little UI enhancement like proper spacing between fields.

**Expected behavior**
A form should have proper validation, important fields need to be filled before submission.

**Screenshots**
![form](https://user-images.githubusercontent.com/54466041/111021805-f6c07900-83f4-11eb-9eba-de7547522d90.JPG)

[2021-03-13 06:41] Samridhi-98 commented on #69
@Namanl2001 @sagar-barapatre I would like to work on this part will you please assign me.

[2021-03-13 06:45] sagar-barapatre commented on #69
Wait for this because the profile form UI will be changed in one of the issues. Once it gets changed you can start working after that

[2021-03-13 07:12] abhay27chauhan opened #70 "No need to use body-parser when using express version 4.16+"
##Proposal

Express version 4.16+, their own body-parser implementation is now included in the default Express package so there is no need for you to download another dependency.

You have added a line to your code that looks like the following:

- app.use(bodyparser.json());

If you are using Express 4.16+ you can now replace that line with:

- **app.use(express.json());**

You also have the foll

[2021-03-13 07:13] abhay27chauhan commented on #70
I am a participant of GSSOC21, so please let me know if this is a valid proposal

[2021-03-13 07:14] abhay27chauhan opened #71 "working with mongoose means working with promises"
### Proposal

if you are working with mongoose, means you are working with promises. So, you need to handle promise. This is an easy fix but good for long term.

I suggest instead of this:

- **mongoose.connect(url, {
  useNewUrlParser: true,
  useCreateIndex: true,
  useUnifiedTopology: true,
});**

You should do this:

`
const connectDB = async () => {

    try{

            const conn = await m

[2021-03-13 07:15] abhay27chauhan commented on #71
I am a participant of GSSOC21, so please let me know if this is a valid proposal

[2021-03-13 07:22] tanwi1234 commented on #2
please add labels with gssoc'21

[2021-03-13 07:39] Samridhi-98 commented on #69
Okay.

[2021-03-13 08:35] prithwirajmitra2001 commented on #15
@Namanl2001
Please assign me this issue
I have already done the changes

[2021-03-13 09:10] aditisneh commented on #59
Hey @guptaji6489 , while @pi-squared-4 is working on the guidelines part, I wanted to add a cool banner/poster more like a logo for Guruji, to look more attractive  . Kindly assign me if possible.

[2021-03-13 11:57] ssaksham commented on #53
Can you please let me know where is class drop-down menu?
I am not able to find it.

[2021-03-13 18:22] subhangi2731 commented on #10
@Namanl2001 Yes I am working on this issue will make a pr by tomorrow but I have a doubt how can I reach u??

[2021-03-13 18:23] subhangi2731 commented on #10
Can you tell me is there any different server for this project or can you just tell me ur discord username??

[2021-03-13 18:23] Namanl2001 commented on #10
If you are a gssoc participant then Discord project channel.

[2021-03-13 20:20] bindu030 opened #75 "adding a chotbot"
Hello! I am a GSSOC'21 participant.

I observed that there is no chatbot in the website which needs to be there as there are lots of benefits of having chatbots like-
client  engagement will be increased
 service will also be increased
Its trending

There could be some person who would be replying the messages or some bot for faqs.
@Namanl2001

[2021-03-13 20:58] udaymittal7 opened #76 "Adding various security features"
Setting various HTTP headers using helmet
Data sanitization against no SQL injection and XSS
Rate limiter so the server won't get overload

If you find it relevant, please assign me.

[2021-03-13 21:45] Namanl2001 commented on #76
Thanks! there is already a PR for rate-limiter.
Could you explain a bit about other security features.

[2021-03-13 21:50] Namanl2001 commented on #53
Line 95 in filter.jsx

[2021-03-13 22:36] Namanl2001 commented on #2
Hey @tanwi1234 it would be nice if you can open a discussion in the discussion section of this repo so that other contributors working on the UI part could have same imagination. To avoid duplicate efforts. Thanks

[2021-03-14 05:18] abhay27chauhan commented on #71
can i create a new folder for database connection, instead of doing it in the same file

[2021-03-14 07:58] kanishkaa24 commented on #11
Hello! Can I work on this issue as a GSSOC participant?

[2021-03-14 09:03] udaymittal7 commented on #76
Helmet is used to set various http headers and http headers can leak sensitive information. It also protects from clickjacking.

NoSQL injection vulnerabilities allow attackers to inject code into commands for databases that don’t use SQL queries, such as MongoDB. I will protect it using express-mongo-sanitize package.

XSS( Cross Site Scripting ) attacks occur when an attacker uses a web applicat

[2021-03-14 11:14] Namanl2001 commented on #76
Interesting

[2021-03-14 16:20] ApekshaAgarwal commented on #71
Hey @abhay27chauhan , @Namanl2001 , I also want to contribute in updating mongoose calls.

[2021-03-14 17:07] sagar-barapatre commented on #75
Yeah It's a good idea.

[2021-03-14 17:11] #66 closed

[2021-03-14 19:58] #70 closed

[2021-03-15 11:11] guptaji6489 commented on #59
@aditisneh  Please show me like @pi-squared-4  has done

[2021-03-15 11:23] guptaji6489 commented on #59
@pi-squared-4  how to get MongoURI link is not there.
Please check it

[2021-03-15 13:32] aditisneh commented on #59
I didn't get that. What do I show. I can make a banner/logo/gif for guruji. Shall I start..?

[2021-03-15 15:18] ShambhaviSharma0110 commented on #40
Hey, I'm interested in this project could you please allow me to work on it?

[2021-03-15 15:34] guptaji6489 commented on #40
Ya you can do and collaborate with @dsnehasish74

[2021-03-15 15:36] guptaji6489 commented on #59
screenshot or design something

[2021-03-15 15:38] pi-squared-4 commented on #59
There is a link to a youtube video that explains how to get it.

[2021-03-15 15:43] guptaji6489 commented on #59
I didn't  find please have a look.

[2021-03-15 17:08] aditisneh commented on #59
okay shall i share here, otherwise my discord name is Aditi(P)#3051 , can ping me there once :)

[2021-03-15 17:17] guptaji6489 commented on #59
You can share here

[2021-03-15 18:09] aditisneh commented on #59
![logo_guruji](https://user-images.githubusercontent.com/56735634/111200383-b2e19580-85e7-11eb-9ead-d811e2e8f910.png)
This is what I designed for the logo.

[2021-03-15 18:14] aditisneh commented on #59
![guruji_gif](https://user-images.githubusercontent.com/56735634/111200949-44e99e00-85e8-11eb-9041-e8cdb0aab677.gif)
This is the gif which will impart the msg of our application

[2021-03-15 18:15] aditisneh commented on #59
![Purple Gradient Gamer Girl Animated Logo](https://user-images.githubusercontent.com/56735634/111201068-68ace400-85e8-11eb-8796-4fcaac2f7401.gif)
This  is the gif which will impart the msg of our application

[2021-03-15 18:18] aditisneh commented on #59
![Purple Gradient Gamer Girl Animated Logo (1)](https://user-images.githubusercontent.com/56735634/111201537-de18b480-85e8-11eb-8e62-c31d3419130f.gif)
This is the gif which will impart the msg of our application

[2021-03-15 18:19] guptaji6489 commented on #59
Looking Great
any comments @Namanl2001

[2021-03-15 19:02] Namanl2001 commented on #11
@pi-squared-4 you can discuss the color scheme with other participants in the discord project channel.

@kanishkaa24 sure you can work on this.

[2021-03-15 19:09] Namanl2001 commented on #59
I would suggest that @aditisneh should open a separate pr to add the banner, to get the gssoc points, it is looking cool but it would be nice if we can have 1/2 more banners to select from.
For the logo part, we already have a seperate issue, so for now we can add this logo on a temporary basis.
Although the logo design issue is not assigned to anyone yet so @aditisneh if you are interested you ca

[2021-03-16 05:49] ChitvanRamani22 commented on #69
@sagar-barapatre Can I work on this issue.

[2021-03-16 06:05] singhayushh opened #82 "Backend Code Refactoring"
Currently, the controller functions for the routes are written inside the route definitions.
Eg:
[code]
A good practice is to have a directory named controller or handler that where these controller functions go in and the route definitions have calls to these controller functions. This is all related to code modularity.
The equivalent route definition will look like
[code]

If approved of, I woul

[2021-03-16 09:24] aditisneh commented on #59
@Namanl2001 @guptaji6489 I am creating a new issue, there i will propose new banners. Do check. Should i make a new issue for logo?

[2021-03-16 09:28] guptaji6489 commented on #59
@aditisneh I think someone is working on logo

[2021-03-16 09:28] guptaji6489 commented on #59
@aditisneh  ya you can create new issue

[2021-03-16 09:31] aditisneh commented on #11
![logo_guruji](https://user-images.githubusercontent.com/56735634/111286562-55d9f400-8668-11eb-82b1-ec6cdc15b06b.png)
I have designed this logo, with a location icon. I hope this goes with the theme. Will design something amazing if @guptaji6489 @Namanl2001 say

[2021-03-16 09:33] aditisneh opened #83 "adding banner to readme"
@guptaji6489  @Namanl2001, I will design some banner for guruji title. Assign me this issue if possible

[2021-03-16 11:33] aditisneh commented on #59
okay

[2021-03-16 17:56] aditisneh commented on #83
![guruji_gif](https://user-images.githubusercontent.com/56735634/111357089-feab4200-86ae-11eb-83ab-5f766cc35932.gif)
This is a gif

[2021-03-16 18:00] aditisneh commented on #83
![guruji_gif (1)](https://user-images.githubusercontent.com/56735634/111357679-885b0f80-86af-11eb-8306-1b92b8c3d111.png)
This can be our png banner for guruji. @guptaji6489 @Namanl2001

[2021-03-16 18:01] aditisneh commented on #83
![guruji_gif (1)](https://user-images.githubusercontent.com/56735634/111357786-a1fc5700-86af-11eb-8ccb-065fd6613261.gif)
Or else this gif form

[2021-03-16 20:09] singhayushh opened #86 "Incorrect instructions in readme"
**Describe the bug**
While working on a feature, I was following instructions in the readme to run the app locally. The repository's readme mentions under the note section that:

After PR #77, there were changes in the server.js file and line 6, 7, 22 point to incorrect locations and commenting out these three lines cause a whole lot of bugs.

**Expected behavior**
The documentation should be upda

[2021-03-16 22:57] NamamiShanker commented on #86
I agree with the Additional Suggestion @singhayushh . As a participant of GSSOC, can I work on correction and implementation of this @Namanl2001

[2021-03-17 04:13] guptaji6489 commented on #83
This gif is looking good

[2021-03-17 06:18] Samridhi-98 commented on #8
@Namanl2001 @sagar-barapatre Since, this issue has no active PR yet I would like to work on this, will you please assign me this issue.

[2021-03-17 06:44] aditisneh commented on #83
@Namanl2001 @guptaji6489 shall i make a PR then?

[2021-03-17 10:24] Namanl2001 commented on #86
Great suggestions @singhayushh would you like to work on this?

[2021-03-17 13:38] singhayushh commented on #86
Yes, I'm willing to!

[2021-03-17 15:44] guptaji6489 commented on #83
yes

[2021-03-17 19:08] Shikhar15606 opened #88 "Add Linting"
Add linting and correct the present errors in the repo as suggested by eslint.
I am working on this issue

[2021-03-17 20:37] vismitap commented on #53
May I work on this as a part of GSSoC'21?

[2021-03-17 22:01] #58 closed

[2021-03-17 22:11] Namanl2001 commented on #57
@Rimpi246 5 days and no response from your side. Acc. to gssoc guidelines after 5 days we can assign it to someone else.

[2021-03-17 22:11] #67 closed

[2021-03-17 22:24] jain-rishabh-21 opened #90 "Using Docker to simplify the dev setup"
**Describe the feature you'd like to add**
Using docker to set up the dev setup to simplify setting the dev env for the future users!

**Describe how you will do it**
Set up Docker

**Additional context**
NA

[2021-03-17 22:24] jain-rishabh-21 commented on #90
If you found this useful, you can assign it to me!

[2021-03-17 22:27] #71 closed

[2021-03-17 22:30] Vaibhav-afk commented on #57
Yeah! I wanna do , can you assign me?

[2021-03-17 22:33] Namanl2001 commented on #8
Let's wait for @AakankshaShah if she doesn't respond within a day, will assign it to you @Samridhi-98

[2021-03-17 22:55] Namanl2001 commented on #90
Interesting! we can add this as an alternative to the basic setup. All the best

[2021-03-18 08:10] ssaksham commented on #53
@Namanl2001 Actually my University Exams were going on, so I was not able to make PR on time. Kindly, reassign me for the same.

[2021-03-18 10:29] mansijain980 commented on #69
@Namanl2001 CAN I WORK ON THIS ISSUE?

[2021-03-18 13:35] guptaji6489 commented on #57
@Rimpi246 you are not replying also.
I'm assigning to @Vaibhav-afk

[2021-03-18 15:49] khushi935 commented on #27
Can I work on this?

[2021-03-18 15:51] kanishkaa24 commented on #11
![Untitled design (1)](https://user-images.githubusercontent.com/71253790/111655598-cbdc8780-882f-11eb-936e-27e0452654fc.png)

[2021-03-18 18:16] aditisneh commented on #83
@guptaji6489 created a PR. Do check. Thank you

[2021-03-18 18:45] AakankshaShah commented on #8
@Namanl2001  Yes sir I am working on it hopefully i will finish it in 2 days

[2021-03-18 23:48] Ashish2030 commented on #69
@mansijain980  Yes you can

[2021-03-18 23:54] Ashish2030 commented on #83
@aditisneh  nice work

[2021-03-18 23:55] Ashish2030 opened #94 "@Namanl2001 CAN I WORK ON THIS ISSUE?"

[2021-03-18 23:56] #94 closed

[2021-03-19 03:59] dsnehasish74 commented on #40
Is the logo complited?

[2021-03-19 05:07] aditisneh commented on #83
@Ashish2030 thanks :)

[2021-03-19 07:59] mansijain980 commented on #69
Thanks

[2021-03-19 08:03] ChitvanRamani22 commented on #69
@Namanl2001/MERN-Gurujii-dev
***@***.***> why
didnt i got assigned even tough i commented first.

On Fri, 19 Mar 2021, 1:30 pm Mansi Jain, ***@***.***> wrote:

[2021-03-19 11:50] #86 closed

[2021-03-19 11:54] Namanl2001 commented on #76
closing via #79

[2021-03-19 11:54] #76 closed

[2021-03-19 12:01] Namanl2001 commented on #7
closing via #79

[2021-03-19 12:01] #7 closed

[2021-03-19 12:02] Namanl2001 commented on #51
@Rimpi246 are you working on this?

[2021-03-19 14:54] #82 closed

[2021-03-20 08:26] subhangi2731 commented on #10
@Namanl2001 Do I have to use the excel filtering approach and search the teachers name ??

[2021-03-20 08:27] subhangi2731 commented on #10
By using sorting and  filter group??

[2021-03-20 14:00] Namanl2001 commented on #39
Long time no response! should this be assigned to someone else?

[2021-03-20 14:17] guptapranav4299 commented on #1
@sagar-barapatre  please assign this issue to me under gssoc 21

[2021-03-20 15:23] ssaksham commented on #39
Actually I was facing some issues in setting up the mongodb server, I will try to make PR by tomorrow.

[2021-03-20 17:45] ssaksham commented on #39
@Namanl2001  I am not able to connect mongodb even after following the instructions mentioned in the readme.md .
Please help me in connecting the mongodb with the project.

[2021-03-20 18:22] ChitvanRamani22 commented on #39
@Namanl2001 Could you please assign this to me.

[2021-03-20 18:24] ChitvanRamani22 commented on #53
@Namanl2001 could you assign this to me.

[2021-03-20 18:27] ChitvanRamani22 commented on #51
@Namanl2001 could you please assign this to me.

[2021-03-20 18:28] Namanl2001 commented on #39
@ssaksham mentors could help you in the discord project's channel.
@ChitvanRamani22 let's wait for saksham, to prevent duplicate efforts.

[2021-03-20 18:31] Namanl2001 commented on #51
@ChitvanRamani22 FYI this feature needs to be implemented in both frontend and backend.

[2021-03-20 18:36] ChitvanRamani22 commented on #51
@Namanl2001 does it mean in the same way as i did in Mr and Mrs option .

[2021-03-20 19:50] ssaksham commented on #39
okay @Namanl2001

[2021-03-21 01:38] ChitvanRamani22 commented on #51
@Namanl2001 Do I need to mention the selected option(by the user) in the cards as well?

[2021-03-21 10:57] ssaksham commented on #39
@Namanl2001  Nobody replied on the discord project's channel. I have also DM the mentors but there also received no response.

[2021-03-21 11:39] Namanl2001 commented on #51
Yes.

[2021-03-22 00:37] mdPial commented on #21
I would like to work on that issue.

[2021-03-22 09:14] mansijain980 commented on #31
@Namanl2001 Is this issue solved? if not , i want to solve it .
Thanks.

[2021-03-22 10:15] ChitvanRamani22 commented on #51
@naman as I updated the repository on my computer there are so many errors in components/form.jsx and components/update.jsx . How should I proceed further.

[2021-03-22 10:15] ChitvanRamani22 commented on #51
blob:file:///a2e238c0-d06b-44a2-a139-250a7347ce1c

[2021-03-22 10:16] ChitvanRamani22 commented on #51
blob:file:///96440a33-e12d-4917-8d4a-683b582e21b8

[2021-03-22 10:22] ChitvanRamani22 commented on #51
![a2e238c0-d06b-44a2-a139-250a7347ce1c](https://user-images.githubusercontent.com/68965499/111975339-7ef5fb00-8b26-11eb-9b37-0418ae1979b2.jpg)
![96440a33-e12d-4917-8d4a-683b582e21b8](https://user-images.githubusercontent.com/68965499/111975398-903f0780-8b26-11eb-8cda-db961d9d4e03.jpg)

[2021-03-22 11:28] Namanl2001 commented on #51
@ChitvanRamani22 mentors could help you with this in disord channel.

[2021-03-22 12:36] ChitvanRamani22 commented on #51
@naman to whom should i address my concern?

[2021-03-22 12:36] ChitvanRamani22 commented on #51
@Namanl2001 to whom should i address my concern ?

[2021-03-22 12:55] Namanl2001 commented on #51
with the mentors in project channel

[2021-03-22 13:33] ssaksham commented on #39
@Namanl2001 ??

[2021-03-22 17:38] Namanl2001 commented on #83
closing via #93

[2021-03-22 17:38] #83 closed

[2021-03-22 19:02] mansijain980 commented on #59
@Namanl2001 Can i work on this issue?

[2021-03-22 19:05] Namanl2001 commented on #59
What kind of changes you want to add?

[2021-03-23 11:31] A7abhilash opened #96 "Added /about route"
Adding a dedicated /about route for displaying the details about the site

[2021-03-23 11:36] A7abhilash opened #97 "Adding details modal"
**Describe the feature you'd like to add**
I would like to add a separate modal for displaying the details of the teachers and display only the basic contents on home UI

**Describe how you will do it**
I will use modal system for implementing this feature

**Additional context**
Add any other context or screenshots about the feature request here.

#GSSOC21

[2021-03-23 17:27] guptaji6489 commented on #97
Do it

[2021-03-23 17:30] guptaji6489 commented on #96
I've assigned u a task.

[2021-03-23 20:11] Namanl2001 commented on #27
@khushi935 are you working on this issue?

[2021-03-24 19:47] mansijain980 commented on #31
@Namanl2001 Most Probably i will commit a PR tomorrow.

[2021-03-24 19:59] Namanl2001 commented on #75
@bindu030 are you working on this?

[2021-03-24 20:04] #40 closed

[2021-03-24 20:08] Namanl2001 commented on #2
@tanwi1234 no response from your side since many days. are you working on this?

[2021-03-25 06:54] tanwi1234 commented on #2
Yes,I am working on this. I had made the teachers display page and teacher login and dashboard page where they can edit or add their profile .But I have been trying to setup this project on my local machine but it shows some error so i had made this pages yet separately on my pc. I have also not experienced in react js so it's taking some more time. But i am trying to resolve this error asap.

[2021-03-25 07:26] tanwi1234 commented on #2
![Screenshot (1091)](https://user-images.githubusercontent.com/65597267/112434341-780afa80-8d69-11eb-90f9-54b2e2c9e6a5.png)

Not able to see teachers page after creating profile

[2021-03-25 07:55] mansijain980 commented on #59
@Namanl2001 sir actually i saw nd this is perfectly fine ... jst wanna add these with some more changes .like testing on mobile
 we can give commands so that they can easily run on mobile as well .

[2021-03-25 09:44] Namanl2001 commented on #2
cd backend
yarn install
yarn start
By this if the backend server starts then it means everything is fine, then just run yarn dev from root of this repo.
If any err in console while starting the backend server you can comment down the screenshot of the console.

[2021-03-25 09:55] sagar-barapatre commented on #69
@Samridhi-98 Are you working on this ? Coz it's taking a lot of time fro your side to solve a level 0 issue.
If you are struck somewhere you can ask us.

[2021-03-25 10:01] sagar-barapatre commented on #53
@ssaksham What's the status of your work on this issue ? It's been 7 days and no activity is being shown by you towards this issue.

[2021-03-25 10:03] sagar-barapatre commented on #45
This seems to look more congested, have some more space

[2021-03-25 10:05] mansijain980 commented on #69
@sagar-barapatre sir i m working on this ..and spacing has already done ...inly some things left ....i will also complete them ....actually there is an another issue of header improvement so i m doing that ....bt after that i will surely do this as half work has been completed.
Thanks

[2021-03-25 10:05] sagar-barapatre commented on #39
Yeah @ssaksham do you need some help ?

[2021-03-25 10:11] Samridhi-98 commented on #69
@sagar-barapatre I haven't started working on it yet as you asked me to wait for the changes in the form UI i.e issue #8.
PR for this issue is active once it got merged, I will start working on it.

[2021-03-25 10:14] tanwi1234 commented on #45
yeah sure will add some more space

[2021-03-25 11:42] Namanl2001 opened #101 "Add spinner"
**Describe the feature you'd like to be added**
A spinner/loader gif could be added in place of `initializing data` [here](https://github.com/Namanl2001/MERN-Gurujii-dev/blob/802725c21bc5ce640177b717a54421cea6afe790/src/components/home.jsx#L48).

[2021-03-25 12:03] DineshKoushik commented on #101
Hi @Namanl2001 ,
Let me take over this issue. I guess, I can help you with this.

[2021-03-25 13:39] DineshKoushik commented on #101
@Namanl2001 Hi again, please verify the pull request I created, go through the updates made. If possible give feedback as well, if I missed out something. Thank you.

[2021-03-25 13:43] ChitvanRamani22 commented on #51
@Namanl2001 i have generated the PR today morning.
It is approved by @sagar-barapatre please do check it.

[2021-03-25 14:16] Shikhar15606 commented on #75
@Namanl2001 can I start working on this issue. Its been a long since the opening of this issue.

[2021-03-25 14:55] Namanl2001 commented on #8
closing via #95

[2021-03-25 14:55] #8 closed

[2021-03-25 18:18] ChitvanRamani22 commented on #51
@Namanl2001 Sir i have corrected it and created a new pr in a branch named tutorty.

[2021-03-25 20:00] tanwi1234 commented on #45
Can I work on this??

[2021-03-25 20:06] Namanl2001 commented on #45
Please see this, to avoid duplicate efforts. Thanks

[2021-03-25 22:59] #53 closed

[2021-03-26 05:52] AakankshaShah opened #105 "Add Ms. option in teacher profile form"
**Describe the bug**
Currently we only have two options-Mr. & Mrs. I would like to add Ms.(miss) option to cover all possible cases.

[2021-03-26 08:17] ssaksham opened #107 "Input Form Validation and Feedback"
Right now, the create/ update form does not give any feedback to the user about the input requirements. If the user is not able to fulfill the requirements, the user just got redirected to the main giving no information about the unsuccessful submission.

My idea is to show the user, what the user is missing and only on filling these requirements, the submission could be made, just like below:
![i

[2021-03-26 08:58] ChitvanRamani22 opened #108 "Footer improvement"
Footer in our website is too huge which is rarely seen and also it would look attractive if we add some font awesome icons of github, linkedin, instagram etc.
If you like this idea please do assign it to me.

[2021-03-26 10:33] ChitvanRamani22 commented on #27
@Namanl2001 could you please assign this issue to me.

[2021-03-26 10:41] Namanl2001 commented on #107
Thanks for opening this issue, this was under the agenda.

[2021-03-26 10:59] tanwi1234 commented on #2
Is it necessary to make a page using reactJS like I have created a pages pages using html ,css ,php where there is a login page and there is two option of signin and signup for teachers and then after that a admin dashboard page would appear where they can add or edit there profile...If it is necessary to made frontend in reactJs then i will convert this in jsx file?

[2021-03-26 21:14] #57 closed

[2021-03-26 21:39] Namanl2001 commented on #10
Acc. to GSSoC guidelines contributors shouldn't be given more than 7 days so that other participants can also contribute. So are you working on this? FYI now it's 17 days you are assigned to this.

[2021-03-27 12:04] Namanl2001 commented on #51
closing via #103

[2021-03-27 12:04] #51 closed

[2021-03-27 12:46] Namanl2001 opened #111 "Add filter for Home/External tutor."
**Describe the feature you'd like to add**
It would be nice to have a filter for the Home/External tutors.

**Additional context**
Same as other filters

[2021-03-27 12:49] #39 closed

[2021-03-27 18:26] #75 closed

[2021-03-28 11:55] akshay1027 commented on #111
i would like to work on this!

[2021-03-28 12:12] akshay1027 opened #112 "Sticky Navbar"
**Describe the bug**
The navbar can be made sticky.

**Additional context**
If the user decides to create a class, they need not scroll up.

[2021-03-28 12:27] Namanl2001 commented on #112
issue already there #31

[2021-03-28 13:35] ChitvanRamani22 commented on #27
@Namanl2001 i have created a pull request through a branch named newcards.
Please do check it.

[2021-03-28 13:52] Namanl2001 commented on #2
Yes, It should be in reactJS only.

[2021-03-29 16:03] #112 closed

[2021-03-30 06:09] akshay1027 opened #114 "Update readme"
**Describe the bug**
the line number in readme has to updated.

**Screenshots**

![2021-03-30_LI](https://user-images.githubusercontent.com/65683151/112941605-816edb00-914c-11eb-9796-e60017c63d26.jpg)

**Additional context**
the line number in readme has to updated. I was confused with config and config.example.js while setting up.

[2021-03-30 06:39] akshay1027 opened #115 "Add sir/mam in chat bot help"
**Describe the bug**
Add sir/mam in chatbot help, right now only sir is available.

**Screenshots**

![2021-03-30 (3)_LI](https://user-images.githubusercontent.com/65683151/112944711-d3196480-9150-11eb-82a0-358f380e9563.jpg)

[2021-03-30 06:42] akshay1027 commented on #111
@Namanl2001 am unable yo login i guess, can you please help me out

[2021-03-30 13:11] Jassi10000 commented on #4
@Namanl2001 Is the issue still open , being a GSSOC'21 participant I want to try my hands out on this issue

[2021-03-30 15:23] sagar-barapatre commented on #4
@Jassi10000 PR has already been made. So you can suggest some changes which you would like to if you want.

[2021-03-30 15:30] sagar-barapatre commented on #111
DM me in the project's discord channel to get your doubt solved.

[2021-03-30 15:32] sagar-barapatre commented on #90
@jain-rishabh-21 what's the status ?

[2021-03-30 15:35] sagar-barapatre commented on #27
The PR #113  for this already been made so I am closing this issue.

[2021-03-30 15:52] ChitvanRamani22 commented on #27
@sagar-barapatre could you please view my changes once if you like them more you can merge it as i got assigned i worked on it for 2 days atleast have a look once.

[2021-03-30 18:00] Jassi10000 commented on #4
Sure

[2021-03-30 18:02] Jassi10000 commented on #107
Being a GSSOC'21 participant I also want to try my hands onto this . Can you assign this to me  too @Namanl2001 ,

[2021-03-30 19:37] Namanl2001 commented on #31
@mansijain980 What's the status? Have you opened a PR?

[2021-03-30 19:55] mansijain980 commented on #31
yes sir , it has almost completed  , only some background part is left ...
Actually my xams r going on bt i will submit it soon.

[2021-03-31 03:59] ChitvanRamani22 commented on #108
@sagar-barapatre  Yeah i have made the footer but waiting for my previous pr #113 to get merged else they will get piled up.

[2021-03-31 09:56] akshay1027 commented on #111
I have sent message @sagar-barapatre

[2021-03-31 11:14] khareyash05 commented on #4
@sagar-barapatre
![2021-03-31 (1)](https://user-images.githubusercontent.com/60147732/113135836-451ca700-9240-11eb-9e07-56b3e61cace9.png)
IS this our website? IF no pls tell what have i done wrong

[2021-03-31 11:17] khareyash05 commented on #4
![2021-03-31 (6)](https://user-images.githubusercontent.com/60147732/113136244-c4aa7600-9240-11eb-95d2-3d315c913a24.png)
@sagar-barapatre Is this how our website looks?
If no pls tell what have i done wrong?

[2021-03-31 11:51] khareyash05 commented on #4
![2021-03-31 (7)](https://user-images.githubusercontent.com/60147732/113140022-777cd300-9245-11eb-9ccd-fa118d7619c5.png)
@sagar-barapatre @Namanl2001 I am getting this error Kindly help me

[2021-03-31 15:50] guptaji6489 commented on #31
take your time

[2021-03-31 17:16] #115 closed

[2021-03-31 17:23] sagar-barapatre commented on #4
set hidden : false
The error gets removed

[2021-03-31 17:33] sagar-barapatre commented on #107
@ssaksham are you working on that ? Or else shall we assign it to @Jassi10000

[2021-03-31 17:42] sagar-barapatre commented on #10
@ChitvanRamani22 wanna take this up ? If you need guidance for this you can ask me

[2021-03-31 17:45] Namanl2001 opened #118 "Bug: In alert"
**Describe the bug**

Clicking on the cross button of alert shows the following error
![image](https://user-images.githubusercontent.com/56021229/113187405-73b57480-9276-11eb-9994-f774bbab694f.png)

Also, this is not responsive for mobile phones.

**Expected behavior**

Everything should work without any error

**Additional context**

By alert I mean:
![image](https://user-images.githubusercontent

[2021-03-31 17:45] sagar-barapatre commented on #21
@mdPial are you working on that ?

[2021-03-31 18:10] ssaksham commented on #107
I am working.

[2021-03-31 18:53] Namanl2001 commented on #108
closing via #117

[2021-03-31 18:53] #108 closed

[2021-04-01 01:52] mdPial commented on #21
I didn't start. I was waiting for any response. You can start working. @sagar-barapatre

[2021-04-01 04:36] anushri20 commented on #118
@Namanl2001 Hi, I would like to work on this.

[2021-04-01 07:04] aishux opened #119 "Auto Labelling Bot"
**Describe the feature you'd like to add**
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21. As it takes time for the maintainer to add labels, I can add a script that can auto-label issues with the GSSOC21 label whenever contributors ask to work under that label.

**Describe how you will do it**
I will add a script in .github folder which will

[2021-04-01 10:48] Namanl2001 commented on #119
Interesting! But what's the need of this? 🤔 As still the maintainers have to apply the level label and assign the issue to someone. At that time also gssoc label could be applied. Also if anyone claims to work on it as a gssoc participant, we cannot accept the issue everytime, as they could be duplicate or irrelevant to the project.

[2021-04-01 10:55] aishux commented on #119
Yes you're right! Mentors and admins can actually do everything but this bot will just assign gssoc tag along with bug/enhancement tags and wont assign it to the participant and it doesn't means that the admin/mentor is accepting the issue. It will help you classify between bugs and enhancement issues. And yes , it doesn't take much time to add labels I know , but I am just trying to take off some

[2021-04-01 23:22] akshay1027 opened #121 "Add commas(or any other symbol) between classes"
**Describe the bug**
Add commas (or any other symbol) between classes while displayed in a card to distinguish between classes.

**Screenshots**

![2021-04-02 (1)](https://user-images.githubusercontent.com/65683151/113363654-076a6c00-936f-11eb-8d1a-24f9fd5ea285.png)

**Additional context**
classes could be easily distinguishable.

[2021-04-02 07:24] akshay1027 opened #123 "The UI of the card can be improved"
**Describe the bug**
The UI of the card can be improved. EG: changing colour of card to a darker version (instead of grey) to match other colours in the website.

[2021-04-02 10:58] sagar-barapatre commented on #123
The PR #113 has been already made for this.. So you suggest or review that PR if you want to do so

[2021-04-02 11:10] sagar-barapatre commented on #119
Okay let's try this. Assigning it to you

[2021-04-02 12:04] aishux commented on #119
Thankyou

[2021-04-02 12:14] akshay1027 commented on #123
I would love to do that! But there is no screenshot of the changes, maybe I will try to set up his branch and let you know! But I cant make changes right? i need permission to make review?

[2021-04-02 13:56] Namanl2001 commented on #123
@akshay1027 you can pull the changes of that pr to view and make any other changes. And feel free to comment your thoughts/changes on the pr itself.
PS: Anyone can review any pr on github, no permission is required for that purpose. Thanks.

[2021-04-02 17:19] akshay1027 commented on #123
The Address is going out of the card boundary, That is the only issue in the new card design as of now. So shall I make those changes?

![2021-04-02 (8)](https://user-images.githubusercontent.com/65683151/113437924-2f0c1380-9405-11eb-82e5-f4f871a6e549.png)

[2021-04-02 17:51] akshay1027 commented on #121
do you guys have any other way of solving this? I tried to hardcode but obviously, the problem arises when the user gives less than 4 classes.

![2021-04-02 (9)_LI](https://user-images.githubusercontent.com/65683151/113440332-d9863580-9409-11eb-97db-095bc1de0416.jpg)

[2021-04-02 19:04] akshay1027 commented on #121
I have found a fix for this! Let me know if its good @sagar-barapatre

![2021-04-02 (11)](https://user-images.githubusercontent.com/65683151/113440889-e5262c00-940a-11eb-9370-3e58055a6975.png)

[2021-04-02 19:36] ChitvanRamani22 commented on #123
@Namanl2001 can you please check your discord account i had sent u the vedio as i had created new UI for cards as u asked.
Can you please check and revert back

[2021-04-02 23:27] #114 closed

[2021-04-02 23:29] Namanl2001 commented on #121
`null` does not look good

[2021-04-03 07:40] akshay1027 commented on #121
ohh, okay will see what i can do! if you guys have any idea, let me know as well!

[2021-04-03 21:57] akshay1027 opened #126 "demo link to open in new tab"
demo link(in readme) to open in a new tab so that users can easily navigate back to the codebase.

[2021-04-04 02:41] sagar-barapatre commented on #126
I think they have the option to open the link in new tab by right clicking the link and selecting Open in new Tab. right ?
I dnt think this should be considered as an issue.

[2021-04-04 11:06] satyabhagavan opened #127 "adding scroll to top button"
we can add a custom scroll to top button

[2021-04-04 12:07] akshay1027 commented on #126
cool, also found out now that we can't do this on Github! here is the link to that: mojombo/github-flavored-markdown#28
so I will close this.

[2021-04-04 12:07] #126 closed

[2021-04-04 17:09] sagar-barapatre commented on #127
I guess it's already there in the website.

[2021-04-05 17:06] satyampgt4 opened #128 "contact us form"
**Describe the feature you'd like to add**
- add contact us form that send admin email with massage

**Describe how you will do it**
- add  contact us form using api

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-04-05 17:13] sagar-barapatre commented on #128
where will you add that form in the website ?

[2021-04-05 17:29] satyampgt4 commented on #128
i can add it just above footer

[2021-04-06 15:53] guptaji6489 commented on #127
yes

[2021-04-06 15:55] guptaji6489 commented on #123
ya sure

[2021-04-07 03:25] aishux commented on #119
Please merge my pr

[2021-04-07 07:49] ChitvanRamani22 commented on #105
@Namanl2001 @sagar-barapatre if bo body is working on it i am interested in taking this.

[2021-04-07 07:50] ChitvanRamani22 commented on #10
@sagar-barapatre yes i am interested, but might need some help.

[2021-04-07 12:21] AakankshaShah commented on #105
@ChitvanRamani22  I am already working on it.

[2021-04-07 15:01] sagar-barapatre commented on #10
Okay you can ask me on discord.

[2021-04-07 15:28] ChitvanRamani22 commented on #105
Okay @AakankshaShah i thought that i has been opened 12 days ago so you might not be working on it.

[2021-04-07 15:55] #127 closed

[2021-04-07 15:57] sagar-barapatre commented on #123
Actually this UI for the card is not taken. #130 has been made for this. On that PR you can add your review if you want to.

[2021-04-08 00:08] akshay1027 commented on #111
The home/external filter on its own is working properly! home/external filter with classes is also working properly, but home/external filter with subjects is not working as i wanted too! someone help me out in this! @sagar-barapatre @Namanl2001 . I have tried my best! i think the the problem lies along those lines, please check it out:

![2021-04-08 (2)_LI](https://user-images.githubusercontent.c

[2021-04-08 08:16] Vaibhav-afk opened #131 "Issue with Navbar"
**Description of issue**
I don't see any change or some actions (like redirecting to another page) when I click on `Link` or any option from dropdown menu.

**Expected behavior**
Something must happen, when we click those options.

[2021-04-08 11:55] Vaibhav-afk commented on #131
Can you just confirm me whether I have to remove those options or you have added those for some reason.

[2021-04-08 12:07] AakankshaKamal opened #132 "Splash Screen addition"
**Describe the feature you'd like to add**
We could add an interactive splash screen just before opening the home page ,it will look good.

[2021-04-08 12:14] AakankshaKamal opened #133 "Useful Links updation in home page"
**Describe the feature you'd like to add**
![Screenshot 2021-04-08 174006](https://user-images.githubusercontent.com/58944717/114024691-fbf8d280-9891-11eb-84a6-e4bece86f700.png)
Here the links shown  on home page are not doing anything

**Describe how you will do it**
We can important links to it for user convenience

[2021-04-08 12:22] AakankshaKamal opened #134 "Adding users reviews page"
**Describe the feature you'd like to add**
At the home page,at the navbar, we can provide a link that will take the user to a page that will contain the user's reviews regarding the website including teachers and students, and how it has helped them. It will be quite attractive for users using it for the first time.

[2021-04-08 15:53] guptaji6489 commented on #134
That's nice

[2021-04-08 15:55] guptaji6489 commented on #132
Can you send me some demo ?

[2021-04-08 15:56] guptaji6489 commented on #132
What type of an interactive splash screen

[2021-04-08 16:10] sagar-barapatre commented on #134
Shouldn't that thing be placed in the home page only. #JustAsking @AakankshaKamal

[2021-04-08 16:10] sagar-barapatre commented on #133
What links would like to add ?

[2021-04-08 16:11] sagar-barapatre commented on #131
We have to add something. Yet not decided but surely in future the links will be updated.

[2021-04-08 16:14] guptaji6489 commented on #134
Ya, Not in the Navbar

[2021-04-08 16:16] Vaibhav-afk commented on #131
So I think it's better to remove or comment out the code as it would be a bad user experience because user is not aware of this.

[2021-04-09 02:59] AakankshaKamal commented on #134
We can do that also .  I suggested a new page for it  just that it would contain users reviews  so the home page does not look crowded.

[2021-04-09 03:01] AakankshaKamal commented on #133
Like here on clicking these buttons, they are doing nothing ,we can add an about us page giving proper info,services page  describing the service of website and contact us a proper form link.I think it would look better

[2021-04-09 03:39] sagar-barapatre commented on #134
No I was thinking similar to the reviews shown by courseera on their website. That looks elegant and simple.
![Screenshot 2021-04-09 at 9 08 15 AM](https://user-images.githubusercontent.com/64516304/114124988-2dfe4900-9913-11eb-952f-f04fcb20c7cc.png)
What say people ?

[2021-04-09 03:55] AakankshaKamal commented on #132
I was thinking like instead of direct opening the home page a splash screen could look better at the beginning ,something like
shown here.
![demo](https://user-images.githubusercontent.com/58944717/114126121-6d2d9980-9915-11eb-9128-b10d736f2982.gif)

[2021-04-09 03:55] AakankshaKamal commented on #134
This looks good

[2021-04-09 04:24] guptaji6489 commented on #134
Nice

[2021-04-09 04:24] guptaji6489 commented on #134
Want to work on this @AakankshaKamal

[2021-04-09 04:33] AakankshaKamal commented on #134
Yes I would like to work on it

[2021-04-09 06:40] sagar-barapatre commented on #134
Okay thank you ! You can start working.

[2021-04-09 06:44] sagar-barapatre commented on #133
Great ! But actually these pages are not made until now, then how would you add links to these ?

[2021-04-09 07:28] #123 closed

[2021-04-09 09:07] tend2infinity commented on #107
Hey @Namanl2001 I would like to work on this issue

[2021-04-09 11:00] AakankshaKamal commented on #133
ohh okay then

[2021-04-09 12:19] Jassi10000 commented on #107
@sagar-barapatre Can you please assign me , I asked for this long time ago

[2021-04-09 16:06] AakankshaKamal commented on #132
https://user-images.githubusercontent.com/58944717/114208455-1eb2e600-997b-11eb-8245-183a4c5f713a.mp4

Please do have a look on it .

[2021-04-09 19:04] tend2infinity opened #138 "The placeholder at the "Filter by pincode" section is not completely visible"
**Describe the bug**
The placeholder used at the place of the filter is not completely visible which is bad for UI.

**Screenshots**
![guruji-bug1](https://user-images.githubusercontent.com/61948033/114228669-6db94500-9994-11eb-834d-6d01f29fb463.JPG)

As a gssoc participant, I would like to work on this issue.

[2021-04-09 19:51] tend2infinity opened #139 "Add another filter which filters between "Home Tutor" and "External Tutor""
**Describe the feature you'd like to add**
We already have filters related to the subject and class but maybe some students want to sort the tutors based upon Home or External Tutor. I want to add this functionality by creating another filter just like the previous ones.

**Describe how you will do it**
There's a reducer in this application so I will create another case for the reducer in which I

[2021-04-10 02:11] sagar-barapatre commented on #138
The PR #136 has been made for this.

[2021-04-10 10:42] Namanl2001 commented on #139
Already there #111 If no one is on that issue then feel free to take it up. Thanks!

[2021-04-10 10:43] Namanl2001 commented on #111
@akshay1027 are you working on this?

[2021-04-10 10:45] rishabhborn2win opened #140 "error on running the application on local machine"
**Describe the bug**
ypeError: undefined is not an object (evaluating 'text.length')

**Expected behavior**
It should initialise the data at the very first time.

**Screenshots**
<img width="1069" alt="Screenshot 2021-04-10 at 4 15 19 PM" src="https://user-images.githubusercontent.com/55771529/114267180-f4633600-9a17-11eb-8db4-4c442ea1969f.png">

**Additional context**
Please help me out.

[2021-04-10 10:56] akshay1027 commented on #111
yea please check the PR, home/external filter alone, and with classes, the filter is working perfectly!

[2021-04-10 11:34] Namanl2001 commented on #140
When this error is coming? on running the port? or on clicking somewhere?

[2021-04-10 11:39] #105 closed

[2021-04-10 11:46] #88 closed

[2021-04-10 11:49] #119 closed

[2021-04-10 11:50] Namanl2001 commented on #111
What do you mean by "alone and with classes"?

[2021-04-10 11:52] Namanl2001 commented on #118
@anushri20 are you working on this?

[2021-04-10 11:53] Namanl2001 commented on #121
Any update? Or this issue should be assigned to someone else?

[2021-04-10 11:58] Namanl2001 commented on #138
yes, @tend2infinity you are right please go ahead. The pr @sagar-barapatre mentioned is not for this issue.

[2021-04-10 13:20] rishabhborn2win commented on #140
Instantly when we start the application by yarn dev

[2021-04-10 14:45] Muditxofficial commented on #101
@Namanl2001 Can i work on this issue

[2021-04-10 18:52] tend2infinity opened #143 "Include a profile picture for the teachers"
**Describe the feature you'd like to add**
I would like to add a profile picture for the teachers and show that on the cards on the homepage.

**Describe how you will do it**
 I will make sure that while signing up as a teacher we have a field named profile pic (which will be optional) and in the backend, I would execute that using multer.

[2021-04-11 05:57] Jassi10000 commented on #107
thanks @Namanl2001 for assigning , will try my best to solve this

[2021-04-11 10:58] Muditxofficial opened #144 "Remove deprecated Body parser package from Server.js"
![Screenshot from 2021-04-11 15-57-21](https://user-images.githubusercontent.com/63860014/114300937-13c59600-9ae0-11eb-8339-9f2dadbea4b3.png)
Instead use built in express method

[2021-04-11 11:45] Muditxofficial commented on #101
@Namanl2001 bootstrap-4-react does not have inbuilt spinner,should i create from css or use their progress components which looks like this.
![progress](https://user-images.githubusercontent.com/63860014/114302971-34deb480-9ae9-11eb-9f13-145370a5a8b5.png)

[2021-04-11 12:29] Namanl2001 commented on #101
Sure you can use this but decrease the width to make it more attractive and also if you like you can add some heading above the bar saying "initializing data".

[2021-04-11 12:35] Namanl2001 commented on #140
This is not due to the code bug; might be some other problem. Have you tried to solve this? or google searched  it?

[2021-04-11 12:36] Namanl2001 commented on #27
closing via #142

[2021-04-11 12:36] #27 closed

[2021-04-11 12:45] anushri20 commented on #118
@Namanl2001 tried to solve the bug but wasn't able to.

[2021-04-11 13:56] Namanl2001 commented on #118
Tried discussing with mentors of this project?

[2021-04-11 20:17] rishabhborn2win commented on #140
Yes but nothing helpful discovered..

[2021-04-12 03:56] Muditxofficial commented on #101
https://user-images.githubusercontent.com/63860014/114338572-f68cd800-9b70-11eb-8880-0019163d27dc.mp4
Changes made per request.

[2021-04-12 07:20] Namanl2001 commented on #140
Head to the discord's project channel to discuss it with the mentors. As this issue is only with your machine. thanks

[2021-04-12 07:39] MageshSundarG opened #145 "Add SignIn Page and SignUp Page"
### Describe the feature you'd like to add
Hey, In Mern-guruji-dev SignIn and SignUp Page is not there
1.  A Login and Register Page with username and Password

### Describe how you will do it
I'll be creating a minimal full-stack login/authorization using the MERN stack. I’ll also integrate Redux for state management for our React components.

### Our app will allow users to

- [x] Register
- [x]

[2021-04-12 07:52] guptaji6489 commented on #145
Any suggestion in this @Namanl2001  @sagar-barapatre

[2021-04-12 07:55] guptaji6489 commented on #132
Looking Great.
Any suggestion @sagar-barapatre

[2021-04-12 07:57] guptaji6489 commented on #132
can you show something with light color in background?

[2021-04-12 12:54] Namanl2001 commented on #101
Nice please make a PR. But don't forget to customize it for the mobile phone too. Also, add screenshots from both laptop and mobile after final changes.

[2021-04-12 12:58] Namanl2001 commented on #145
IMO we don't need a separate sign in or signup page instead we can create some kind of dialogue box that would appear on clicking the sign in button. WDYT?

[2021-04-12 13:10] MageshSundarG commented on #145
@Namanl2001 Yeah, It would be great to have a dialogue box rather than creating an entire page for sign-in and sign-up.
Ok, Then
1. Let's create two buttons for sign-in and sign-up in the navbar in addition to GoogleSignin or
2. Let's merge those Oauth in the Sign-in and Sign-up ( Which is Recommended And Best practice for Websites )

Any Suggestions and I would like to work on this issue

[2021-04-12 13:14] Namanl2001 commented on #145
You can continue with that. thanks

[2021-04-12 14:14] AakankshaKamal commented on #132
@guptaji6489  ok sir I'll change the background color to something light

[2021-04-12 16:04] guptaji6489 commented on #145
Yeh, That's Great

[2021-04-12 18:30] AakankshaKamal commented on #132
https://user-images.githubusercontent.com/58944717/114443229-11039780-9beb-11eb-8a21-185957e7a23a.mp4

[2021-04-13 12:16] #144 closed

[2021-04-14 05:06] ChitvanRamani22 commented on #111
@Namanl2001 if nobody is working on this i would like to take this up.

[2021-04-14 05:15] Ankita297 commented on #3
Can i work on this @Namanl2001

[2021-04-14 13:15] #101 closed

[2021-04-14 13:16] anirudhsai20 opened #148 "Grammatical errors in the Readme file"
There are a lot of grammatical errors in the Readme file that needs correction.

[2021-04-14 16:16] guptaji6489 commented on #132
looking good

[2021-04-15 02:50] AakankshaKamal commented on #132
Can I go ahead with PR?

[2021-04-15 05:56] Jassi10000 opened #149 "Project not running on local machine"
Am not able to start the project on my local machine  even after installing the dependencies and following the exact guidelines in the readme , wanna ask that is the project not compatible for latest version of Node ?

Here's a scrennshot of the issue am facing
![gurujiDoubt](https://user-images.githubusercontent.com/64856348/114820715-11fc1b00-9ddd-11eb-9e7a-751f9f5624f0.PNG)

[2021-04-15 06:49] guptaji6489 commented on #132
Any other suggestion  @Namanl2001  @sagar-barapatre.
Or its look good?

[2021-04-15 07:01] ChitvanRamani22 commented on #111
@Namanl2001 if no one is working on this issue, I would like to take this up.

[2021-04-15 07:14] ChitvanRamani22 commented on #31
@Namanl2001 i would like to take this up.

[2021-04-15 12:26] Namanl2001 commented on #132
I think something simple would look more cool. The current one is nice but it has too many animations which IMO are not needed. thanks

[2021-04-15 12:28] Namanl2001 commented on #111
@akshay1027 has already opened a PR for this issue but he is facing some problems would be nice if you can help him.
PS: points will be awarded to both of you. Thanks

[2021-04-15 13:55] Muditxofficial commented on #1
@Namanl2001 I would like to work on this issue.

[2021-04-15 15:49] AakankshaKamal commented on #132
Ok I ll make the changes.

[2021-04-15 16:57] akshay1027 commented on #111
@ChitvanRamani22 , here is the PR #122 . please pull this code in your forked repo and check it out! Half of the work is done but i don't know how to combine subject filter and tutor filter! would be great if you can help me out! Thank you!
here is the video showing my problem https://drive.google.com/file/d/1GrkY-KRc_zjPyCCKfSRp_DXjJHKdWcmP/view?usp=sharing

[2021-04-15 18:02] akshay1027 commented on #139
@tend2infinity I have already made a PR for this, but am unable to combine the subject filter and home/external tutor filter! check this video for more info https://drive.google.com/file/d/1GrkY-KRc_zjPyCCKfSRp_DXjJHKdWcmP/view?usp=sharing.
Here is my PR #122, if you can solve this problem, please do it! i would be grateful for that

[2021-04-15 18:34] Namanl2001 commented on #149
can you please try doing ">=12.14.0" [here](https://github.com/Namanl2001/MERN-Gurujii-dev/blob/a453f7994418dd4f74c945ddbb3e14d21429fa27/backend/package.json#L26) and restarting the server.
BTW have you faced any problem with `yarn dep0` and `yarn dep1` commands?

[2021-04-15 18:35] #148 closed

[2021-04-16 02:50] sagar-barapatre commented on #149
Okay you can ask on me on discord. I think its only on your machine that error is coming. Anyways I'll clear that.

[2021-04-16 02:51] sagar-barapatre commented on #140
@rishabhborn2win buddy message me on discord. I'll help you out.

[2021-04-16 02:52] sagar-barapatre commented on #134
@AakankshaKamal madam what's the status ? How work is done ?

[2021-04-16 03:01] sagar-barapatre commented on #3
@Ankita297 Off course you can. Assigning it to you.

[2021-04-16 05:28] AakankshaKamal commented on #134
Yes Sir I am working on it , need to connect it to  backend so I was stuck in that.I'll need 2 days approx for completing it.

[2021-04-16 05:55] Jassi10000 commented on #149
@Namanl2001 No  <code>yarn dep0</code> and <code>yarn dep1</code>  are giving no issues ,
only <code>yarn dev</code> is

[2021-04-16 05:56] Jassi10000 commented on #149
Sure , will message you there

[2021-04-16 18:51] #138 closed

[2021-04-16 19:47] Namanl2001 commented on #131
Basically, I've just added them to fill some space on the navbar 😅 otherwise it looks totally empty. Also clicking on them have no actions. So should we remove them completely? WDYT?

[2021-04-16 21:17] Vaibhav-afk commented on #131
@Namanl2001 yeah, I understand but suppose you visit some site and you clicked some button you will expect something from this action but if it  doesn't do anything, you will say the site has bug. I hope you are getting what I am trying to convey, its all about user experience.

[2021-04-17 08:22] shobit1337 commented on #35
I guess this issue is still pending.. I would like to work on this one, Let me know If I can, Thanks 😄

[2021-04-17 09:20] tend2infinity opened #152 "Adding Toasts instead of Alerts"
**Describe the bug**
Whenever we add, delete or update a user we get an alert. I want to show Toasts on the frontend instead of alerts for a better UI experience.

[2021-04-17 09:53] Shikhar15606 opened #153 "Setup Github Actions for Prettier and Linting"
I would like to set up the required Github actions for prettier and linting

[2021-04-17 11:23] Namanl2001 commented on #152
That's a nice option but we want to reload the site automatically when any of the above mentioned actions is performed. And currently when we clock the OK hutton of the alert it reloads the page so that new data could be fetched from backend. E.g. if a post req is made with status code 200 but still the new data will not be rendered on frontend until we reload the webpage.
So is realoading possibl

[2021-04-17 11:25] Namanl2001 commented on #149
If your issue is resolved then we can close this. And please mention the solution so that if it is from our side then we can remove that bug.

[2021-04-17 11:26] Namanl2001 commented on #140
If your issue is resolved then we can close this. And please mention the solution so that if it is from our side then we can remove that bug.

[2021-04-17 12:25] Jassi10000 commented on #149
No its not solved yet @Namanl2001 , was lil busy so was not able to connect on discord , today I will definitely do that

[2021-04-17 13:39] #153 closed

[2021-04-17 17:54] Jassi10000 commented on #149
The engines  already has   >=12.14.0  written on it and then also its not starting

[2021-04-17 19:21] tend2infinity commented on #152
I was thinking to show a toast after reloading the page, but I guess it won't make much sense. Nevertheless toast messages are useful when the DOM gets updated without reloading. So I can drop this issue

[2021-04-17 21:00] tend2infinity commented on #111
hey @akshay1027 I will review your PR and tell you some of the changes that may fix this issue

[2021-04-17 21:55] tend2infinity commented on #118
@Namanl2001 I want to work on this issue. I can simply remove the cancel button on the corner to avoid this error. Actually the problem is the modal gets disappeared after a certain period and if we close it before that time then when that period will end the callback will fire and it will try to remove to modal which is actually NOT present at that moment! So, the simple fix would be to remove th

[2021-04-17 22:00] tend2infinity opened #156 "Separate About Us Page"
**Describe the feature you'd like to add**
Currently, the about us section is visible on top of the teacher cards. We can use one of the navbar links to link the homepage with the about section and make it on a separate page

[2021-04-17 22:00] #152 closed

[2021-04-17 22:17] Namanl2001 commented on #118
Nica catch! 👍  Please go ahead with it.

[2021-04-17 22:26] Namanl2001 commented on #156
Nice thought but IMO it is not needed because on the separate page we would be showing hardly 8-10 lines about section and the rest of the page will be empty and also it comes with its own challenges of designing and marinating a new webpage. WDYT?

[2021-04-17 22:44] tend2infinity commented on #156
See, we have a navbar in which almost all the links are not functional right now, so its just an idea of making use of it. Moreover the about section seems kind of separated from the other part of the page because, if I am a new user then maybe I need to see the about page, but if I become an old user for this application then the about section seems repetitive and unnecessary popping out on every

[2021-04-17 22:45] tend2infinity commented on #156
If you have any suggestions about the links on the navbar then please tell me, I can start working on that

[2021-04-18 12:07] #118 closed

[2021-04-18 12:17] Namanl2001 commented on #149
- At the root of the project run `yarn start` and take the terminal's screenshot.
- stop this frontend server started above. `ctrl + c`
- move to backend folder `cd backend` and run `yarn start` to take the terminal's screenshot.
- Kindly share both the screenshot's here in comments or discord

[2021-04-19 05:44] Jassi10000 commented on #149
Ok ,  just sharing in a few minutes

[2021-04-19 06:38] Jassi10000 commented on #149
This is the screenshot of the <code>yarn start</code> in the root folder

![guru1](https://user-images.githubusercontent.com/64856348/115191684-64a04480-a107-11eb-9aea-cc5eedab6e16.PNG)

This is the screenshot of the <code>yarn start</code> in the backend folder

![guru2](https://user-images.githubusercontent.com/64856348/115192075-f1e39900-a107-11eb-81e4-5e240035a96a.PNG)

[2021-04-19 11:49] Namanl2001 commented on #149
Okay so your frontend server is running perfectly.
But problem in backend so for that add the missing package which is being shown on your terminal `yarn add express-rate-limit` then try to start the server. If again there is some problem try running 'yarn dep1' and then restart the server.
Still if there is problem then try deleting node-modules file from your backend dir and run 'yarn dep1' and

[2021-04-19 11:57] Jassi10000 commented on #149
Sure , btw Is this problem only faced by me or other contributors as well  ?

[2021-04-19 12:00] Namanl2001 commented on #149
I didn't get any such problem from other contributors. But sometimes it happens due to different setup environments

[2021-04-19 12:03] Jassi10000 commented on #149
Ohh , anyways leme try this one again

[2021-04-19 13:23] Jassi10000 commented on #149
@Namanl2001 See there are lot of confusions which are occuring

These are series of events that happened

1.
![guru3](https://user-images.githubusercontent.com/64856348/115242453-82899b80-a13f-11eb-96d7-3e40d3ba1c7f.PNG)

2.
![guru4](https://user-images.githubusercontent.com/64856348/115242472-861d2280-a13f-11eb-8697-2971c8418451.PNG)

After this I uninstalled the node modules and  again did <code

[2021-04-19 14:15] Namanl2001 commented on #149
Everything is OK now you just have to set up the MongoDB connection [Read this](https://github.com/Namanl2001/MERN-Gurujii-dev#note--)

[2021-04-19 15:22] AakankshaKamal commented on #132
https://user-images.githubusercontent.com/58944717/115261031-e9fc1700-a150-11eb-92b7-95d635234c0a.mp4

What about this?

[2021-04-19 15:30] guptaji6489 commented on #132
can you remove this text and also remove these two corners watch something and make it only simple by putting only one watch at the middle.

[2021-04-19 15:39] AakankshaKamal commented on #132
ok sure

[2021-04-19 15:59] AakankshaKamal commented on #132
![Screenshot 2021-04-19 212856](https://user-images.githubusercontent.com/58944717/115267017-562d4980-a156-11eb-9356-58dc3f9277df.png)
Look at this.

[2021-04-19 16:10] guptaji6489 commented on #132
not watch.
in the previous video whatever  is in the corner can you put in the middle

[2021-04-19 16:11] AakankshaKamal commented on #132
The watch will be moving so I guess it ll look better

[2021-04-19 16:16] guptaji6489 commented on #132
which one you r taking about?

[2021-04-19 16:17] AakankshaKamal commented on #132
https://user-images.githubusercontent.com/58944717/115269202-b3c29580-a158-11eb-95eb-8fb98fb8251e.mp4
Check this one Sir

[2021-04-19 16:17] guptaji6489 commented on #132
in this can you remove all things and simply put at the middle corner watch which is continuously moving

[2021-04-20 16:15] guptaji6489 commented on #132
in this can you remove all things.
and in the corner (top left ), there are two lines that are continuously moving.
can you put that in the middle and nothing else , please
Read this carefully.

[2021-04-21 10:54] Namanl2001 opened #158 "UI: contact no. not shown on profile cards."
**Describe the bug**
We have contact no. of the tutor and we show it on profile cards but due to some bug, it is shifted somewhere below the cards back.
This issue is just to make small changes in the CSS to have it properly viewed on the cards.

[2021-04-21 10:57] Namanl2001 commented on #158
proper positioning should be like this -> https://cdn.discordapp.com/attachments/824587831833526292/830475558911213639/20210410_214204.jpg

[2021-04-21 16:23] tend2infinity commented on #158
I wanna work on that

[2021-04-22 08:07] atharvaze commented on #90
Can I work on this issue? im a gssoc participant.

[2021-04-22 13:56] atharvaze commented on #90
@sagar-barapatre  do assign me this issue if this is not resolved yet

[2021-04-22 14:39] sagar-barapatre commented on #90
You can start working

[2021-04-23 06:21] Ankita297 opened #160 "github action to add autolabel of gssoc on PR"
**Describe the feature you'd like to add**
github action to add autolabel of gssoc on PR

**Describe how you will do it**
I wan to add github action for that .

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-04-23 06:21] Ankita297 commented on #160
@Namanl2001 can i work on this ?

[2021-04-23 06:39] Ankita297 opened #161 "Add a welcome bot"
**Describe the feature you'd like to add**
Add github action to greet contributor on his /her first issue and PR creation .
**Describe how you will do it**
A clear and concise description of how you will do it.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-04-23 06:39] Ankita297 commented on #161
@Namanl2001  can i work on this ?

[2021-04-23 11:16] Namanl2001 commented on #160
It's already present, you can see that github action is applied on this issue also. Anything else you would like to improve?

[2021-04-23 11:17] Namanl2001 commented on #161
Can you describe a bit more about the change you are suggesting? Greeting in what sense?

[2021-04-23 12:48] Ankita297 commented on #161
@Namanl2001   like when contributor  make his first issue or first PR  message will be shown
![New issue · Issue #1 · Ankita297_Story - Google Chrome 22-04-2021 00_53_11](https://user-images.githubusercontent.com/67833077/115873148-3cdf1280-a460-11eb-8981-eb9cd3cac553.png)

[2021-04-23 12:52] Ankita297 commented on #160
@Namanl20
![Home_external tutor by akshay1027 · Pull Request #122 · Namanl2001_MERN-Gurujii-dev - Google Chrome 23-04-2021 18_21_21](https://user-images.githubusercontent.com/67833077/115873654-cd1d5780-a460-11eb-9981-21f9e10d2427.png)
01  You are adding it in maually in the PR

[2021-04-23 12:52] Ankita297 commented on #160
@Namanl2001 ?

[2021-04-23 13:16] Namanl2001 commented on #160
Oh sorry I mistook as adding the label on the issue. But you are talkong about PR.
Btw on what basis it would be added on prs? Will it be added on all future prs of any kind?

[2021-04-23 13:19] Namanl2001 commented on #161
Go ahead with this. thanks

[2021-04-23 13:59] Ankita297 commented on #160
@Namanl2001 it will added on all future PRs .

[2021-04-23 16:58] Namanl2001 commented on #160
But we don't want that action as we'd have to remove it after 1 one month when gsspc ends? IMO

[2021-04-23 20:17] Namanl2001 commented on #149
If you have any other problem. Feel free to ask them on the discord project channel.

[2021-04-23 20:17] #149 closed

[2021-04-23 20:18] Namanl2001 commented on #2
@tanwi1234 are you working on this issue?

[2021-04-24 07:06] Ankita297 commented on #23
@Namanl2001 @sagar-barapatre  can i work on this ?
Also can you give some suggestions like i should about us section .
Change the navbar ui .

[2021-04-24 13:08] #15 closed

[2021-04-24 14:00] #161 closed

[2021-04-24 14:54] sagar-barapatre commented on #156
About us section can contain all the list of contributors displaying in proper profile cards with a proper quote in the header of it. What say ??

[2021-04-24 15:06] tend2infinity commented on #156
I would be happy to work on that if you agree

[2021-04-25 04:01] Ankita297 commented on #31
Can i work on this @Namanl2001 @sagar-barapatre ?

[2021-04-25 05:05] sagar-barapatre commented on #31
@ChitvanRamani22 are you doing this ?

[2021-04-25 05:06] sagar-barapatre commented on #156
Okay let us wait for approval then if it gets approved you can start working

[2021-04-25 05:06] sagar-barapatre commented on #145
@MageshSundarG ??? It's been a long time.

[2021-04-25 05:07] sagar-barapatre commented on #134
@AakankshaKamal is all okay ? Any help ??

[2021-04-25 05:10] sagar-barapatre commented on #107
@Jassi10000 it's been a long time. Any help required ?

[2021-04-25 05:12] sagar-barapatre commented on #69
Anyone interested to take up this ?

[2021-04-25 05:14] sagar-barapatre commented on #35
@shobit1337 what's the status of your work ?

[2021-04-25 05:15] sagar-barapatre commented on #24
You only added github O. Auth but I asked for facebook as well.

[2021-04-25 05:16] sagar-barapatre commented on #23
@AakankshaShah are you working ? Or shall I assign it to @Ankita297 ?

[2021-04-25 05:17] sagar-barapatre commented on #21
@mdPial are you working or not ?

[2021-04-25 05:19] sagar-barapatre commented on #10
#162 PR has been already made for this. So those who wanted to contribute on this can review the PR and suggest something they want to add. Thnx

[2021-04-25 05:21] #158 closed

[2021-04-25 05:44] ChitvanRamani22 commented on #107
@sagar-barapatre if @Jassi10000 is not working on this i would like to take this up.

[2021-04-25 05:46] ChitvanRamani22 commented on #31
@sagar-barapatre you can assign this to @Ankita297

[2021-04-25 05:53] MageshSundarG commented on #145
I need Two Days Approx to finish, Stuck with other works. Finished the frontend Part. Working on the backend. Sry for the delay

[2021-04-25 10:08] shobit1337 commented on #35
I'm having hard time understanding the redux part.. Will give update by tonight on discord group.

[2021-04-25 11:29] Namanl2001 commented on #156
Let's do it :)

[2021-04-25 11:33] #139 closed

[2021-04-25 11:35] #69 closed

[2021-04-25 11:47] AakankshaKamal commented on #132
![Screenshot 2021-04-25 171648](https://user-images.githubusercontent.com/58944717/115992209-19e06a00-a5ea-11eb-8894-f1e0c7e0b177.png)
This one?

[2021-04-25 12:16] AakankshaKamal commented on #134
I could not work on this issue right now.Please unassign me

[2021-04-25 13:15] mdPial commented on #21
@sagar-barapatre I am not working.

[2021-04-26 11:43] AakankshaShah commented on #23
@sagar-barapatre Sorry Sir I won't be able to work on it due to some issue.You can assign it to @Ankita297

[2021-04-26 13:43] ChitvanRamani22 opened #166 "Pre-Loader"
I want to add preloader to the website.
I will use suspense,lazy to fetch and show preload until all the data is being loaded.
@Namanl2001 please assign this to me.

[2021-04-26 14:06] Namanl2001 commented on #166
Pre-loader is already implemented. Please check this https://github.com/Namanl2001/MERN-Gurujii-dev/pull/147

[2021-04-26 14:13] ChitvanRamani22 commented on #166
@Namanl2001 i am talking about something like this.
https://user-images.githubusercontent.com/76901313/114297933-46b45d80-9ad1-11eb-9633-be4359257b9d.mp4

[2021-04-26 14:21] Namanl2001 commented on #166
PHAL @ https://github.com/Namanl2001/MERN-Gurujii-dev/issues/132

[2021-04-26 14:22] #166 closed

[2021-04-27 11:15] Namanl2001 commented on #10
closing via #162

[2021-04-27 11:15] #10 closed

[2021-04-27 15:19] Ankita297 commented on #35
Can i work on this @sagar-barapatre @Namanl2001 ?

[2021-04-27 17:07] Ankita297 commented on #160
![Gurujii com - Google Chrome 27-04-2021 22_35_06](https://user-images.githubusercontent.com/67833077/116282864-e861cd00-a7a8-11eb-9a7c-1c1a1661abc6.png)

[2021-04-27 17:07] Ankita297 commented on #160
@Namanl2001 @sagar-barapatre  Can this be used  ?

[2021-04-28 03:05] sagar-barapatre commented on #160
Yeah we can try this. what say @Namanl2001 ?

[2021-04-28 03:06] sagar-barapatre commented on #156
Before implementing the design please show us the template of that page. Once it gets approved you can further work on that.

[2021-04-28 03:07] sagar-barapatre commented on #140
Is your query solved ? Shall we close this ?

[2021-04-28 03:15] sagar-barapatre commented on #35
@Ankita297 before working on that, provide us with your design template. So that once it gets approved you can work further

[2021-04-28 03:17] sagar-barapatre commented on #23
@Ankita297 you only tell us what would you like to do. I don't have idea any currently.

[2021-04-28 03:35] Ankita297 commented on #35
@sagar-barapatre  i will try to make navbar stick to top so that when you scroll down it shows  and i will also work on the ui enhancement  .

[2021-04-28 03:38] Ankita297 commented on #35
okay @sagar-barapatre .

[2021-04-28 13:42] #3 closed

[2021-04-29 02:15] Ankita297 commented on #160
@Namanl2001 ?

[2021-04-29 10:58] Namanl2001 commented on #160
Sorry, but we don't need this.

[2021-04-29 10:58] #160 closed

[2021-05-01 13:51] rishabhborn2win commented on #140
I am sorry I was quite busy in some other issues Its resolved thank for your support!

[2021-05-01 13:51] #140 closed

[2021-05-03 09:55] ShubhamSj07 opened #170 "Enhancement of 404 Page"
**Describe the feature you'd like to add**
We are shown 404 page on invalid route but rather showing just a 404 img, we should be redirecting user to home page via btn.

Page looks like this,
![MERN-Guruji-Issue-original](https://user-images.githubusercontent.com/56510414/116862694-c641d200-ac22-11eb-9f41-c7cb87dbe46c.JPG)

on mobile view,
![MERN-Guruji-Issue-original--](https://user-images.github

[2021-05-04 02:04] ShubhamSj07 commented on #170
@Namanl2001 pls review

[2021-05-04 14:09] KajalSinghBAGHEL opened #172 "Update README.md"
remove grammatical mistakes

[2021-05-04 14:09] KajalSinghBAGHEL commented on #172
I am a GSSOC participant. Can I work on this issue?

[2021-05-04 18:25] Namanl2001 commented on #170
The home option on the top navbar do this work for us. Anyway we can have a button too as you suggested. Go ahead with your idea. Thanks

[2021-05-04 18:33] Namanl2001 commented on #172
Closing via #171

[2021-05-04 18:33] #172 closed

[2021-05-04 19:12] #31 closed

[2021-05-04 19:36] Namanl2001 opened #173 "Make form responsive"
We have a double-column form to make profiles, but it's not responsive for tablets/mobiles. The task is to make it responsive for devices of standard resolutions

[2021-05-04 20:55] theBeginner86 commented on #173
I want to work on this issue, as GSSOC 21 participant.

[2021-05-05 06:06] theBeginner86 commented on #173
@Namanl2001
I had a doubt, for the mobile view decreasing just the font size is not helping so will it be ok if I stack the profile form as row (like stacking the left form on the top of the right form using flex properties) rather than column.

[2021-05-05 08:06] ChitvanRamani22 opened #174 "Our reach"
Want to add our reach section as shown in the image below just above footer to make homepage look more attractive.
![20210503_163243.jpg](https://user-images.githubusercontent.com/68965499/117112552-db476e00-ada6-11eb-958e-e7ca76767231.jpg)
@Namanl2001 @sagar-barapatre please assign this to me.

[2021-05-05 13:26] Namanl2001 commented on #174
Will the data be hard-coded? or will you fetch it using some Github API?

[2021-05-05 14:18] ChitvanRamani22 commented on #174
@Namanl2001 it will be hard-coded as we have plus sign after the number.

[2021-05-06 19:40] sagar-barapatre commented on #174
As @ChitvanRamani22 is saying it will be hard-coded. Everytime whenever the stats get changes people will make new PR.

[2021-05-07 04:01] ChitvanRamani22 commented on #174
@sagar-barapatre we have a plus sign after each value so it is not necessary to change them after their values get changed.

[2021-05-07 19:11] ChitvanRamani22 commented on #111
@Namanl2001 if this issue is still open i would like to take this up.

[2021-05-08 11:43] #173 closed

[2021-05-08 11:51] #35 closed

[2021-05-08 11:55] #170 closed

[2021-05-08 12:04] Namanl2001 commented on #132
@ChitvanRamani22 If you are interested feel free to rake this up. thanks

[2021-05-08 12:20] Namanl2001 opened #181 "Implement teacher's popularity among users"
On the card's backside, we have a `click here to read more button; we can use this to monitor the popularity of the teacher.
When a user clicks on this, we'll make a post request and increase the counter by 1 in the backend—more the clicks, more the counter, and more the popularity.

Further, we can use this to add a filter by popularity and can also show the number of clicks on the card itself fo

[2021-05-08 13:03] Ankita297 commented on #23
https://user-images.githubusercontent.com/67833077/117540203-9c761a00-b02b-11eb-9d6a-c18d78be62e5.mp4

[2021-05-08 13:03] Ankita297 commented on #23
@Namanl2001 @sagar-barapatre is this okay ?

[2021-05-08 15:12] tend2infinity commented on #181
interested

[2021-05-08 16:47] #174 closed

[2021-05-08 16:53] Namanl2001 commented on #23
Seems like it is for online classes but in this, there are home/external tutors i.e. offline tutors. So if you want to add some gif keep this in mind. It should suit our theme.

[2021-05-08 16:56] ChitvanRamani22 opened #182 "Animated Counter"
I want to add an animated counter on scroll in the homepage for our reach section.
When we scroll down the count start from 0 and end at the value that we want, which will look good.
@Namanl2001 please assign this to me.

[2021-05-09 17:01] #182 closed

[2021-05-09 17:10] #111 closed

[2021-05-10 20:34] GuptaTanisha commented on #145
Can I work on this issue?

[2021-05-13 15:19] ChitvanRamani22 opened #187 "Our vision"
I want to add our vision section as shown in the image just above our reach section to make the UI look more attractive.
![20210513_204801.jpg](https://user-images.githubusercontent.com/68965499/118146865-a5e8f300-b42c-11eb-8185-ced3aee43826.jpg)
@Namanl2001 please assign this to me.

[2021-05-15 05:34] akshay1027 opened #189 "Implement Route based code splitting and lazy loading"
Implement route based code splitting and lazy loading to improve performance, reduce load time! Its recommended in react s official documentation as if implemented properly, only needed components will be loaded first and rest all will be loading asynchronously in the background

[2021-05-15 05:35] akshay1027 commented on #189
i would like to do this @Namanl2001

[2021-05-15 06:21] ChitvanRamani22 opened #190 "Scrollbar"
The scrollbar of our project is very simple. I want to add styling and make it look attractive. ![20210515_114935.jpg](https://user-images.githubusercontent.com/68965499/118350377-e43cfa00-b573-11eb-8484-200b77d00464.jpg)
@Namanl2001 please assign this to me.

[2021-05-15 09:43] akshay1027 commented on #189
Sorry by mistake i added it in documentation, its a feature request

[2021-05-15 14:16] #190 closed

[2021-05-15 14:19] #132 closed

[2021-05-16 13:19] #187 closed

[2021-05-16 16:45] ChitvanRamani22 opened #193 "Toast messeges."
Alert pop ups do not look good . I would like to add toast messeges instead of alerts.
@Namanl2001 please assign this to me.

[2021-05-16 17:03] Namanl2001 commented on #193
PHAL @ https://github.com/Namanl2001/MERN-Gurujii-dev/issues/152#issuecomment-821807984

[2021-05-16 17:07] ChitvanRamani22 commented on #193
@Namanl2001 but i want to add it at a time when the form is submitted successfully.

[2021-05-16 17:10] ChitvanRamani22 commented on #193
@Namanl2001 but toast messeges would do same function as alerts do.

[2021-05-16 17:12] Namanl2001 commented on #193
Okay, so form submitted means user's profile is created successfully right? And then in order to fetch the details we need to reload the webpage to show the newly added user on a new card.
Is the reload possible with toast messages?

[2021-05-16 17:14] ChitvanRamani22 commented on #193
@Namanl2001 i will do that and let you know.

[2021-05-16 17:17] Namanl2001 commented on #193
Sure you can try it

[2021-05-16 18:10] #193 closed

[2021-05-16 18:58] ChitvanRamani22 opened #194 "Social Media Sidebar"
I want to add social media sidebar to our website.![20210517_002649.jpg](https://user-images.githubusercontent.com/68965499/118409168-befcd880-b6a6-11eb-9e72-a6acd33314ad.jpg)
@Namanl2001 please assign this to me.

[2021-05-17 14:23] ChitvanRamani22 commented on #156
@tend2infinity are you working on this?

[2021-05-17 18:17] Subham142 opened #196 "Backend: Admin endpoints"
**Describe the feature you'd like to add**
add admin feature by adding middleware and updating the user schema

[2021-05-17 18:19] Subham142 commented on #196
@Namanl2001  please assign it to me

[2021-05-17 20:14] Namanl2001 commented on #196
Sorry, but I didn't get it. Could you explain it a bit more in detail? Thanks

[2021-05-18 00:49] tend2infinity commented on #156
Yup, really sorry for the delay. I'll make the PR by tomorrow positively

[2021-05-18 02:58] Subham142 commented on #196
its basically means I wanna add an admin feature to this project
the admin can
-> fetch all the users, edit their profile, delete users
->fetch all the teachers, edit their profile, delete users

In this issue, I want to add an admin middleware so that if the user is logged in and is an admin he/she could access the admin routes (which will be added after the middleware is done)
-> to know if the

[2021-05-18 08:36] Namanl2001 commented on #196
Sounds Good. Please go ahead! 👍

[2021-05-18 13:37] #194 closed

[2021-05-19 02:35] Ankita297 commented on #128
@sagar-barapatre @Namanl2001 Can i work on this ?

[2021-05-19 10:27] #189 closed

[2021-05-19 13:42] Namanl2001 opened #199 "Make a component"
Move sidebar code in home.jsx to a seperate component. And then use it in home.

[2021-05-19 13:48] Namanl2001 opened #200 "Styling"
![image](https://user-images.githubusercontent.com/56021229/118823174-657af080-b8d6-11eb-8f44-83879a7fdab0.png)

We would like to have all three dropdowns in one row (center) and `clear filter` button in a separate row below them again in center.

PS: The bug and attached screenshot is for mobile view on wide screens it is fine.

[2021-05-19 13:52] Namanl2001 opened #201 "Remove timer from UI"
![image](https://user-images.githubusercontent.com/56021229/118824314-619b9e00-b8d7-11eb-8283-09d66dff0e48.png)

If you can see the set time out timer is also being shown on the UI. The task is to hide it without effecting the hiding functionality of the alert.

[2021-05-19 14:00] ChitvanRamani22 commented on #199
@Namanl2001 please assign this to me.

[2021-05-19 14:01] ChitvanRamani22 commented on #200
@Namanl2001 i want to work on this.

[2021-05-19 17:16] maissenayed commented on #199
Is this issue still free ??

[2021-05-20 04:12] Siddharth1006 commented on #199
Is the issue still open? I am really interested in contributing on this issue.

[2021-05-20 06:22] ChitvanRamani22 commented on #156
@tend2infinity Let me know at the earliest if you change your mind

[2021-05-20 06:22] ChitvanRamani22 commented on #156
@tend2infinity let me know at the earliest if u change your mind.

[2021-05-20 13:18] ChitvanRamani22 commented on #145
@GuptaTanisha are you woking on this.

[2021-05-20 16:38] Subham142 opened #204 "Backend: Admin routes and controllers"
**Describe the feature you'd like to add**
A clear and concise description of what you want to happen.

**Describe how you will do it**
A clear and concise description of how you will do it.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-05-20 17:39] Subham142 commented on #204
@Namanl2001  please assign it to me and merge pr #198

[2021-05-20 18:14] vanshika2906 opened #205 "Health Tips In Dropdown"
**Describe the feature you'd like to add**
A clear and concise description of what you want to happen.
I would like to add a button in the dropdown that provides students some health tips so that they will be able to focus on their study in a better way and relief them from extra stress.

[2021-05-20 18:17] vanshika2906 commented on #205
Let me know if this good to go or you want some modifications. I would like to work on this, please assign to me. Thankyou!

[2021-05-20 18:18] #196 closed

[2021-05-20 18:19] vanshika2906 opened #206 "Add Speech Feature In chatbot"
**Describe the feature you'd like to add**
I would like to add speech recognition and speech synthesis feature in chatbot.
A user can his/her voice to type message and chatbot can read out a message to user.

[2021-05-20 18:21] Namanl2001 commented on #205
Sounds good to me. BTW in which section of the webpage you would like to add this feature?
And of which dropdown are you talking about here?

[2021-05-20 18:59] Namanl2001 commented on #206
Would be nice to have this. Thanks

[2021-05-21 04:51] vanshika2906 commented on #205
I am thinking of putting it here or you can suggest where it is good to go?
![image](https://user-images.githubusercontent.com/65587816/119083776-3a9bb400-ba1e-11eb-9368-e33c22e06f2e.png)

[2021-05-21 08:23] Namanl2001 commented on #205
Are you planning to make a new webpage for this feature?

[2021-05-21 08:36] vanshika2906 commented on #205
Yes @Namanl2001 , just like the home page by removing about us content and Plan your future with us and putting six cards providing tips for health and providing that web page route in the dropdown. Any suggestions and correction for this thought?
Thankyou!

[2021-05-21 08:38] Namanl2001 commented on #205
Sounds good to me. Please go ahead 👍

[2021-05-21 12:35] #199 closed

[2021-05-21 12:35] Namanl2001 commented on #200
closing via #203

[2021-05-21 12:35] #200 closed

[2021-05-21 12:43] #201 closed

[2021-05-21 13:24] ChitvanRamani22 opened #210 "Redesigning the about part."
I want to remove the about us page and add something attractive in that place .
@Namanl2001 please assign this to me.

[2021-05-21 14:08] ChitvanRamani22 commented on #210
@Namanl2001 yes.

[2021-05-21 14:43] Namanl2001 commented on #210
okay. Also we hill have [this](https://user-images.githubusercontent.com/61948033/119116842-48652f80-ba46-11eb-8a02-672365ec356a.mp4) soon so plan accordingly.

[2021-05-23 06:13] anjali1102 opened #212 "Adding error page"
**Describe the feature you'd like to add**
A clear and concise description of what you want to happen.
When the request fails or get we 404 error, it shows a very ugly page. I will construct a new error page.

**Describe how you will do it**
A clear and concise description of how you will do it.

**Additional context**
Add any other context or screenshots about the feature request here.

WHEN REQU

[2021-05-23 06:14] anjali1102 commented on #212
Kindly assign me this issue

[2021-05-23 06:53] ChitvanRamani22 commented on #212
@anjali1102 This website already has a well designed error page which looks like this.
![20210523_122328.jpg](https://user-images.githubusercontent.com/68965499/119251016-b97d2200-bbc1-11eb-8f57-b55aa40fc17a.jpg)

[2021-05-23 12:26] Namanl2001 commented on #212
Thanks @anjali1102 for noticing but as @ChitvanRamani22 said it's already present in our development mode and is not pushed to production yet. Will do it soon.

[2021-05-23 12:26] #212 closed

[2021-05-23 13:18] #206 closed

[2021-05-23 13:20] #204 closed

[2021-05-23 14:26] Subham142 opened #213 "Backend: Admin feature delete/update user by id"
Admin feature delete/update user by id

[2021-05-24 11:57] subhangi2731 commented on #181
@Namanl2001 please assign me this issue

[2021-05-24 11:59] subhangi2731 commented on #90
@sagar-barapatre please assign me this I want to work on this

[2021-05-24 12:00] subhangi2731 commented on #4
@Namanl2001 @sagar-barapatre please assign me this I want to work on this

[2021-05-24 12:02] subhangi2731 commented on #21
@Namanl2001 please assign me I will send pr in 1 day

[2021-05-24 13:07] ChitvanRamani22 opened #215 "Timer"
I want to display timer at top left corner.
@Namanl2001 please assign this to me.

[2021-05-24 13:09] Namanl2001 commented on #215
Be descriptive

[2021-05-24 13:10] ChitvanRamani22 commented on #215
@Namanl2001 want to add clock.

[2021-05-24 13:14] Namanl2001 commented on #215
And the clock will show the current time?

What's the use of this?

[2021-05-24 15:20] sagar-barapatre commented on #4
Okay assigned.

[2021-05-24 15:20] sagar-barapatre commented on #90
Assigned

[2021-05-24 17:01] sagar-barapatre commented on #181
Assigned this to you.

[2021-05-24 18:55] #205 closed

[2021-05-26 05:24] vanshika2906 opened #217 "Add Welcome Bot"
**Describe the feature you'd like to add**
A clear and concise description of what you want to happen.
I would like to add a GitHub action, got appeared when someone creates a issue.
Saying something like this
"Thank you for opening an issue.
 To get assigned to this particular issue please wait for maintainers."
I would like to work on this. Please assign this to me.

[2021-05-27 03:35] tend2infinity opened #219 "Better logic for the name filter"
**Describe the bug**
Right now the name filter is using a very lazy logic in which we are just comparing if our input name is exactly similar to any name in our database. This gives us only a single query as a result. What we can do is use something called .includes() through which we can produce multiple meaningful outputs if our input string matches with any sub-string from the names of tutors!

[2021-05-27 12:21] #215 closed

[2021-05-27 12:24] Namanl2001 commented on #217
This feature is already present for first time issues [like this](https://github.com/Namanl2001/MERN-Gurujii-dev/issues/205#issuecomment-845354706).
Adding this note for each issue would be a good?

[2021-05-27 14:56] vanshika2906 commented on #217
I have seen this feature in many projects that's why I suggested. Although if don't want for every issue, can create for Pull Request which I just saw not present. Thankyou!!

[2021-05-27 19:06] #156 closed

[2021-05-28 20:10] #219 closed

[2021-05-28 20:19] Namanl2001 commented on #181
@tend2infinity would be nice if you do this before documentation issue. Thanks

[2021-05-28 20:58] subhangi2731 commented on #181
@Namanl2001 how can u unassign me without even informing I have done almost half of this work

[2021-05-28 21:34] Namanl2001 commented on #181
Because you've been assigned too many issues, on some you said you'll open a pr the very next day but now I guess it's a week and there is still no response on any of them.

Anyways, you can complete your half done work and open a PR.

Sorry for the inconvenience caused.

[2021-05-29 08:01] tend2infinity commented on #181
Yeah sure! @Namanl2001 I'll focus on this one

[2021-05-29 08:57] subhangi2731 commented on #181
@Namanl2001 I have already completed this should I create pr please assign me

[2021-05-30 14:45] #143 closed

[2021-05-31 07:21] ChitvanRamani22 commented on #217
@vanshika2906 are you working on this??

[2021-05-31 18:07] Namanl2001 commented on #217
closing via #225

[2021-05-31 18:10] #217 closed

[2021-06-01 08:51] KamalSinghKhanna commented on #11
hey can I work on this issue

[2021-06-01 09:53] Namanl2001 commented on #11
feel free take this up.

[2021-06-01 18:32] #107 closed

[2021-06-05 16:49] #213 closed

[2021-06-05 16:55] #181 closed

[2021-06-05 18:29] #210 closed

[2021-10-02 18:16] Manoramsharma commented on #134
@Namanl2001 @sagar-barapatre want to contribute , is review page UI already with us ?

[2021-10-03 10:09] Namanl2001 commented on #134
@Manoramsharma nope it's not with us. You are welcome to contribute 🤗. Thanks

[2021-10-04 07:45] Manoramsharma commented on #134
@Namanl2001 want to contribute

[2021-10-04 16:36] AmanPachori commented on #59
@Namanl2001 what things to be updated in readme file can you please specify

[2021-10-04 18:07] Namanl2001 commented on #59
That's your part to do @AmanPachori :)
Go through the previous comments, current readme. Try to setup the project and note down the difficulties you faced in the readme.

[2021-10-10 11:48] swahim commented on #11
@Namanl2001 please review